ion-content{
    --ion-background-color: rgb(243, 243, 243);
}

ion-card{
    --ion-background-color: white;
}

ion-label{
    color: black;
}

h4{
    color: black;
}

monthview-primary-with-event{
    color: black;
}