<app-life-at-nsbm></app-life-at-nsbm>
<router-outlet></router-outlet>

<div class=" container pt-5">
<div class="row">
    <div class="col">
        <div class="card w-80 p-3" style="margin-right: 200px;">
        <div class="card-body">
          <h5 class="card-title">NSBM ATHLETICS CLUB</h5>
          <p class="card-text">
          <img class="rounded float-left" src="../../assets/image/Athletic.png">
            NSBM athletic club mold strong athletes to take the leadership in the corporate sector with accelerated speed of adapting to
            scenario, team working and completing the task accurately. Membership of the NSBM athletic club can be obtained from contacting
            the NSBM recreation center and taking part with practices continuously. NSBM athletic club organize its own athletic meets and take
            part in interuniversity level athletic meets and open, national level athletic meets.
          </p>
          </div>
      </div>
     </div>
  </div>
  <br>
  <br>
  <div class="row justify-content-end">
    <div class="col">
      <div class="card text-right w-80 p-3 " style="margin-left: 200px;">
        <div class="card-body">
          <h5 class="card-title">NSBM BADMINTON CLUB</h5>
          <p class="card-text">
            <img class="rounded float-right" src="../../assets/image/Badminton.png">
            The NSBM Badminton Club is the active and a well-established sports club at NSBM with many mercantile and national level
            players. This club is open to undergraduates of all levels for the purpose of recreation, physical fitness and development
            of skills in the sport. As one of the fastest sports in the world, badminton is a great way for students to develop and improve
            their reflexes, hand-eye coordination, as well as mental alertness. The club represents at inhouse badminton tournaments, inter
            university tournaments as well as other international badminton tournaments.
          </p>
        </div>
      </div>
     </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col">
        <div class="card w-80 p-3" style="margin-right: 200px;">
        <div class="card-body">
          <h5 class="card-title">NSBM CRICKET CLUB</h5>
          <p class="card-text">
            <img class="rounded float-left" src="../../assets/image/cricket.jpg">
            NSBM Cricket club is one of the most pioneering sports clubs established at NSBM since its inception. We are a prosperous club
            with a long tradition of nurturing talented and aspiring young cricketers to be the best that they can be.
            NSBM Cricket Club is a friendly, vibrant and progressive cricket club that features competitive and successful players in the NSBM
            Green University Town. We are an inclusive and nurturing club where new players and supporters are always warmly welcomed.
          </p>
        </div>
      </div>
     </div>
  </div>
  <br>
  <br>
  <div class="row justify-content-end">
    <div class="col">
      <div class="card text-right w-80 p-3 " style="margin-left: 200px;">
        <div class="card-body">
          <h5 class="card-title">NSBM RUGBY CLUB</h5>
          <p class="card-text">
            <img class="rounded float-right" src="../../assets/image/rugby.jpg">
            That is the code NSBM Rugby club follows and it has earned many achievements because of that. Thus, the rugby club is one of the most
            highlighted clubs in the university since their non-stop victories under the NSBM name. Skipper Geshan Pethiyagoda and his deputy Charitha
            Nanayakkara leads the squad this year while the squad of 2019 consists around 35 determined players. Behind all these, the guidance
            to play a clean game and motivation to play hard is given by our master in charge Mr. Baratha Dodankotuwa and Ms. Sulari Fernando.
         </p>
        </div>
      </div>
     </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col">
        <div class="card w-80 p-3" style="margin-right: 200px;">
        <div class="card-body">
          <h5 class="card-title">NSBM SWIMMING CLUB</h5>
          <p class="card-text">
            <img class="rounded float-left" src="../../assets/image/Swimming.png">
            Swimming Club of NSBM consists of a massive student body and has so far guided the talented swimmers it
            produced into the medals. With the sophisticated, international level swimming pool and the other facilities
             it has, NSBM Swimming Club stands straight among other Sri Lankan educational institutes’ Swimming Clubs.
            The members of the NSBM swimming club have achieved a variety of awards, bringing pride to the NSBM and glamouring
            up the name of the NSBM Swimming Club. These great goals are achieved via the commitment and help of every individual
            that involved in the Swimming Club. Moreover, with great pride it can be expressed that the NSBM swimming club is shining
            up in the top level among swimming clubs of universities Island wide.
          </p>
        </div>
      </div>
     </div>
  </div>
  <br>
  <br>
  <div class="row justify-content-end">
    <div class="col">
      <div class="card text-right w-80 p-3 " style="margin-left: 200px;">
        <div class="card-body">
          <h5 class="card-title">NSBM BASKETBALL CLUB</h5>
          <p class="card-text">
            <img class="rounded float-right" src="../../assets/image/Basketball.png">
            NSBM Basketball Club is one of the main sports clubs that was fully active even before the inception of the green university town.
             Having played in major inter university and cooperate tournaments such as KDU Leaders Trophy, CIMA sports tournament and APIIT Sports
              Extravaganza, NSBM Basketball team has garnered a solid success rate throughout the years. Currently there are over 50 students regularly
               practicing and playing for the NSBM Basketball Club.
          </p>
        </div>
      </div>
     </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col">
        <div class="card w-80 p-3" style="margin-right: 200px;">
        <div class="card-body">
          <h5 class="card-title">NSBM TABLE TENNIS CLUB</h5>
          <p class="card-text">
            <img class="rounded float-left" src="../../assets/image/table.png">
            NSBM Table tennis Club is one of the main sports clubs that is fully active within the green university town. Having played
             in major inter university and cooperate tournaments such as KDU Leaders Trophy, SIEG Table Tennis Championship (University of Kelaniya),
             Mora Smashes (University of Moratuwa) and other major tournaments  the Table Tennis Club has gained a reputation among Table Tennis teams
              of other universities as a fierce competitor.
            </p>
        </div>
      </div>
     </div>
  </div>
  <br>
  <br>
  <div class="row justify-content-end">
    <div class="col">
      <div class="card text-right w-80 p-3 " style="margin-left: 200px;">
        <div class="card-body">
          <h5 class="card-title">NSBM NETBALL CLUB</h5>
          <p class="card-text">
            <img class="rounded float-right" src="../../assets/image/netball.png">
            Netball is a most popular game among the commonwealth nations, which is predominately played by females. This is a team
             game that one team consist with 7 players on the court. NSBM netball club has been formed in 2016 and raised with numerous
             achievements. NSBM netball club is operating with two teams Team A and B
            </p>
        </div>
      </div>
     </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col">
        <div class="card w-80 p-3" style="margin-right: 200px;">
        <div class="card-body">
          <h5 class="card-title">NSBM MARTIAL ARTS CLUB</h5>
          <p class="card-text">
            <img class="rounded float-left" src="../../assets/image/martial.png">
            NSBM Martial Arts Club is a fast- growing club which consist of Taekwondo and Karate sports.
            <p>
        </div>
      </div>
     </div>
  </div>
  <br>
  <br>
  <div class="row justify-content-end">
    <div class="col">
      <div class="card text-right w-80 p-3 " style="margin-left: 200px;">
        <div class="card-body">
          <h5 class="card-title">NSBM HOCKEY CLUB</h5>
          <p class="card-text">
            <img class="rounded float-right" src="../../assets/image/hockey.png">
            NSBM hockey team takes pride in hosting both a male team as well as a budding female team. They have participated in numerous
            tournaments and friendly matches with several wins since its inception in 2017.
            </p>
        </div>
      </div>
     </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col">
      <div class="card w-80 p-3" style="margin-right: 200px;">
        <div class="card-body">
          <h5 class="card-title">NSBM CHESS CLUB</h5>
          <p class="card-text">
            <img class="rounded float-left" src="../../assets/image/Chess.png">
            In this strategic two player game, NSBM has taken initiative to provide the students with the benefit of the chess club which
            proudly guide students to learn the game and provides the school level champions with resources to continue their chess career
            in university level.
            </p>
        </div>
      </div>
     </div>
  </div>
  <br>
  <br>
  <div class="row justify-content-end">
    <div class="col">
      <div class="card text-right w-80 p-3 " style="margin-left: 200px;">
        <div class="card-body">
          <h5 class="card-title">NSBM VOLLEYBALL CLUB</h5>
          <p class="card-text">
            <img class="rounded float-right" src="../../assets/image/vollyball.png">
            The purpose of NSBM Volleyball club is to provide a safe environment where young athletes (Male/Female both) will improve in the game
             of volleyball and learn the important values of team, spirit and sportsmanship.
             We will encourage the development of skills and techniques necessary for players to compete at a high level, focusing on the physical,
             mental, and emotional development of all players. We will utilize the sport of volleyball to teach life-long lessons to our players
             (leadership, teamwork, hard work ethic, dealing with adversity and success, communication, ethics, loyalty etc.) We also want our members
              to understand the importance of academics and other necessities beyond the volleyball court in order to be successful in life. We will strive
              to “Develop Better Players, Better Teams, Better People.”
          </p>
        </div>
      </div>
     </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col">
      <div class="card w-80 p-3" style="margin-right: 200px;">
        <div class="card-body">
          <h5 class="card-title">NSBM ARCHERY CLUB</h5>
          <p class="card-text">
            <img class="rounded float-left" src="../../assets/image/archery.jpg" style="width: 350px; height: 300px;">
             NSBM Athletic Club is established under the NSBM Students’ Affairs Unit with intention of promoting track events, field events and road
             race (marathon) among the NSBM undergraduates. NSBM athletic club rich with national level, school level athletes
             who are from short distance running, middle distance running, long distance running, throwing events, jumping events and hurdle events.
            </p>
        </div>
      </div>
     </div>
  </div>
  <br>
  <br>
  <div class="row justify-content-end">
    <div class="col">
      <div class="card text-right w-80 p-3 " style="margin-left: 200px;">
        <div class="card-body">
          <h5 class="card-title">NSBM FITNESS CLUB</h5>
          <p class="card-text">
            <img class="rounded float-right" src="../../assets/image/fitness.jpg" style="width: 350px; height: 300px;">
            NSBM Fitness club is based in recreational center which provides opportunity for NSBM students to master their talents on Powerlifting.
             Powerlifting is a strength sport that consists of three attempts at maximal weight on three lifts: squat, bench press, and deadlift. As in the sport
             of Olympic weightlifting, it involves the athlete attempting a maximal weight single lift of a barbell loaded with weight plates.
          </p>
        </div>
      </div>
     </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col">
      <div class="card w-80 p-3" style="margin-right: 200px;">
        <div class="card-body">
          <h5 class="card-title">NSBM SOCCER CLUB</h5>
          <p class="card-text">
            <img class="rounded float-left" src="../../assets/image/football.jpg" style="width: 350px; height: 300px;">
            NSBM Soccer club is an active sports club of NSBM comprises of highly competitive players with skills on par with any
            other university soccer player. The team had participated in several inter-university
            tournaments and international sports tournament in past few years and was able bring several winning trophies to NSBM.
         </p>
        </div>
      </div>
     </div>
  </div>
</div>

