<app-header></app-header>
<div class="btn-group btn-group-toggle d-flex justify-content-center pt-2" data-toggle="buttons">
        <a routerLink="/business" routerLinkActive="active" class="ml-5">
            <label class="btn btn-secondary w-100">School Of Business
            </label>
         </a>
     <a routerLink="/computing"  class="ml-5">
        <label class="btn btn-secondary w-100"> School Of Computing
        </label>
    </a>
        <a routerLink="/enginering" class="ml-5">
             <label class="btn btn-secondary w-100"> School Of Enginering
            </label>
        </a>
  </div>
