<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-img style="height:50%;" src="assets/home-outline.png"></ion-img>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-img style="height:50%;" src="assets/notifications-outline.png"></ion-img>
      <ion-label>Notices</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notes">
      <ion-img style="height:50%;" src="assets/copy-outline.png"></ion-img>
      <ion-label>Notes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-img style="height:50%;" src="assets/cog-outline.png"></ion-img>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>