<ion-header style="height: 70px;">
  <ion-toolbar>

    <!-- This will add a button to show the side menu when the side menu is hidden in small screens -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title style="position: absolute;
                      top: 40%;">NEWS</ion-title>

    <!-- Header Contents Section -->
    <div style="position: absolute;
                right: 5px;
                top: 8px;">
      <!-- Notification Bell, Unread Notifications Count, Drop Down -->          

      <ion-button fill="clear" color="dark" style="width: 100px;
                                                  height: 45px;
                                                  background-color: white;" (click)="openNotificationPopover($event)">

        <!-- Notification Bell Icon -->
        <div style="height: 42px;
                  width: 42px;"> 
          <ion-icon name="notifications-outline" style="font-size: 35px;
                                                        position: absolute;
                                                        top: 5px;
                                                        left: 0px;"></ion-icon>
        </div>

          <!-- Arrow Icon -->
        <div style="position: absolute;
                    left: 50px;
                    top: 10px;
                    font-size: 26px;">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
      </ion-button>

    </div>

  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col>
      
        <ion-card style="border-radius: 5px;">
          <ion-card-header>
            <ion-card-title>
              Published News
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-item style="border: #ccc solid 1px;">
              <ion-icon name="calendar-outline" style="color: black;"></ion-icon>
              <ion-label style="margin-left: 15px;">Select Date</ion-label>
              <ion-datetime placeholder="Select Date" (ionChange)="retrieveNewsSelectedDate($event)"></ion-datetime>
            </ion-item>      

            <div style="overflow-y: scroll;
                        height: 700px;">


              <!-- No News Available Text -->
              <div *ngIf="noNewsText" style="position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%,-50%);">
                <ion-item style="border: #ccc solid 1px;
                                border-radius: 5px;
                                padding: 5px;">
                  <ion-label style="font-size: 17px;">
                    No News were published on the selected date
                  </ion-label>
                </ion-item>
              </div>

              <!-- Select Past Date Text -->
              <div *ngIf="pastDateText" style="position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%,-50%);">
                <ion-item style="border: #ccc solid 1px;
                                border-radius: 5px;
                                padding: 5px;">
                  <ion-label style="font-size: 17px;">
                    Please select a Date that has passed.
                  </ion-label>
                </ion-item>
              </div>


              <!-- Loading Spinner -->
              <ion-spinner name="dots" style="position: absolute;
                                              left: 50%;
                                              top: 50%;
                                              transform: translate(-50%,-50%);
                                              margin-top: 20px;
                                              height: 100px;
                                              width: 100px;" *ngIf="loadingSpinnerNews"></ion-spinner>


              <ion-grid>

                <ion-row>
                  <ion-col size="4" size-sm="12" size-md="4" size-lg="4" *ngFor="let item of publishedNews">

                    <ion-card>
                      <ng-container *ngIf="item.payload.doc.data().coverImage">
                        <ion-img src="{{ item.payload.doc.data().coverImage.coverImageFilePath }}" style="height: 120px;
                                                                                                          position: relative;
                                                                                                          left: 50%;
                                                                                                          transform: translateX(-50%);">
                                                                                                          </ion-img>
                      </ng-container>
                      <ion-card-header>
                        <ion-card-title>
                          {{ item.payload.doc.data().title }}
                        </ion-card-title>
                        <ion-card-subtitle style="text-align: justify;">
                          {{ item.payload.doc.data().description }}
                        </ion-card-subtitle>
                      </ion-card-header>
                      <ion-card-content>
                        <ion-grid>
                          <ion-row>
                            <ion-col size="5">
                              <ion-label>
                                <b>News Category:</b>
                              </ion-label>
                            </ion-col>
                            <ion-col size="7">
                              <ion-label>
                                {{ item.payload.doc.data().category }}
                              </ion-label>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="5">
                              <ion-label>
                                <b>Publication Date Time:</b>
                              </ion-label>
                            </ion-col>
                            <ion-col size="7">
                              <ion-label>
                                {{ item.payload.doc.data().newsCreatedDateTime.toDate() | date: 'dd-MM-yyyy | hh:mm a' }}
                              </ion-label>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="5">
                              <ion-label>
                                <b>Author:</b>
                              </ion-label>
                            </ion-col>
                            <ion-col size="7">
                              <ion-label>
                                Program Office: {{ item.payload.doc.data().newsCreatedFaculty }}
                              </ion-label>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="item.payload.doc.data().attachmentLink">
                            <ion-col size="12">
                              <ion-button style="min-width: 100%;"
                                (click)="openAttachmentLink(item.payload.doc.data().attachmentLink)">
                                <ion-icon name="link-outline" style="color: white;"></ion-icon>
                                <ion-label style="color: white;
                                                  margin-left: 10px;">
                                  Open Attachment Link
                                </ion-label>
                              </ion-button>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="6">
                              <ion-button color="secondary" style="min-width: 100%;" (click)="editNewsItem(item)">
                                <ion-icon name="create-outline" style="color: white;"></ion-icon>
                                <ion-label style="color: white;
                                                  margin-left: 10px;">
                                  Edit
                                </ion-label>
                              </ion-button>
                            </ion-col>
                            <ion-col size="6">
                              <ion-button color="danger" style="min-width: 100%;" 
                                (click)="removePublishedNews('Confirmation', 'This news item will be removed, do you want to continue?', item)">
                                <ion-icon name="trash-outline" style="color: white;"></ion-icon>
                                <ion-label style="color: white;
                                                  margin-left: 10px;">
                                  Remove
                                </ion-label>
                              </ion-button>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-card-content>
                    </ion-card>

                  </ion-col>
                </ion-row>

              </ion-grid>

            </div>





          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col style="max-width: 50%;">

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Publish News
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <form [formGroup]="addNewNewsForm" (ngSubmit)="publishedNewNews('Confirmation',
              'News will be published with these details, do you want to continue?', addNewNewsForm.value)">
              <ion-grid>
                <ion-row>
                  <ion-col size="4">
                    <ion-label class="addNewNewsLabelForm">
                      Title
                    </ion-label>
                  </ion-col>
                  <ion-col size="8">
                    <ion-item>
                      <ion-input type="text" clearInput formControlName="newsTitle"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="4">
                    <ion-label class="addNewNewsLabelForm">
                      Description
                    </ion-label>
                  </ion-col>
                  <ion-col size="8">
                    <ion-item>
                      <ion-textarea rows="10" clearInput formControlName="newsDescription"></ion-textarea>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="4">
                    <ion-label class="addNewNewsLabelForm">
                      Category
                    </ion-label>
                  </ion-col>
                  <ion-col size="8">
                    <ion-item>
                      <ion-select cancelText="Close" okText="SELECT" placeholder="Select Category" style="min-width: 100%;" formControlName="newsCategory">
                        <ion-select-option *ngFor="let item of publishedNewsCategories" value="{{ item.payload.doc.data().category }}">
                          {{ item.payload.doc.data().category }}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="4">
                    <ion-label class="addNewNewsLabelForm">
                      <h3 style="font-size: 15px;">
                        Add Cover Image
                      </h3>
                    </ion-label>
                  </ion-col>
                  <ion-col size="8">
                    <ion-item>
                      <ion-label style="color: #ccc;">Cover Image</ion-label>
                      <ion-toggle (ionChange)="addNewsCoverImage($event)"></ion-toggle>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row style="margin-top: -14px;" *ngIf="addNewsCoverImageSection">
                  <ion-col size="4">
                    <ion-label><h3 style="padding-top: 15px;
                                          font-size: 15px;">News Cover Image</h3></ion-label>
                  </ion-col>
                  <ion-col size="8">

                    <!-- Code Block with upload event cover image -->
                    <div>
                      <!-- Card Before Uploading an Image -->
                      <ion-card text-center *ngIf="!isFileUploading && !isFileUploaded" style="min-width: 100%;
                                                                                              height: 300px;
                                                                                              margin-left: 0px">
                        <ion-card-header>
                          <ion-card-title>Select Image to Upload</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                          
                            <input type="file" name="coverImage" accept="image/*" (change)="coverImageViewer($event)">
                            <div style="margin: 10px; 
                                        margin-top: 15px;
                                        width: 200px;
                                        position: absolute;
                                        left: 50%;
                                        transform: translateX(-50%);">
                            <img *ngIf=" coverImage != '' " src="{{ coverImage }}"/>
                            </div>
                        </ion-card-content>
                      </ion-card>

                    
                      <!-- Card During Uploading an Image -->
                      <ion-card text-center *ngIf="isFileUploading && !isFileUploaded" style="min-width: 100%;
                                                                                              height: 300px;
                                                                                              margin-left: 0px;">
                        <ion-card-header>
                          <ion-card-title>Selected File: <i>{{ fileName }}</i></ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                          <div *ngIf="percentage | async as percent">
                            <p> Progress: {{ percent | number }}% </p>
                            <ion-progress-bar value="{{ percent / 100 }}"></ion-progress-bar>
                          </div>

                          <div *ngIf="snapshot | async as snap">
                            <p> 
                              File Size: {{ snap.totalBytes }} <br>
                              Transferred: {{ snap.bytesTransferred }}
                            </p>
                          </div>

                          <!-- Code block shows file size in converted file size -->
                          <!--
                          <div *ngIf="snapshot | async as snap">
                            <p> 
                              File Size: {{ snap.totalBytes | fileSizePipe }} <br>
                              Transferred: {{ snap.bytesTransferred | fileSizePipe }}
                            </p>
                          </div>
                          -->
                        </ion-card-content>
                      </ion-card>

                      <!-- Card After Uploading an Image -->
                      <ion-card text-center *ngIf="!isFileUploading && isFileUploaded" style="min-width: 100%;
                                                                                              height: 300px;
                                                                                              margin-left: 0px;">
                        <ion-card-header>
                          <ion-card-title>Image Selected to Upload</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                          <div *ngIf="UploadedFileURL | async as ufurl">
                            <ion-img [src]="ufurl"></ion-img>
                            <a [href]="ufurl" target="_blank" rel="noopener" download> Download </a>
                          </div>

                          <p> File Size: {{ fileSize }} </p>  

                          <!-- Code block shows file size in converted file size -->
                          <!-- 
                          <p> File Size: {{ fileSize | fileSizePipe }} </p>  
                          -->

                          <ion-button expand="full" color="success" (click)="isFileUploading = isFileUploaded = false"> Upload More </ion-button>
                        </ion-card-content>
                      </ion-card>
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="4">
                    <ion-label class="addNewNewsLabelForm">
                      <h3 style="font-size: 15px;">
                        Add Website Attachment Link
                      </h3>
                    </ion-label>
                  </ion-col>
                  <ion-col size="8">
                    <ion-item>
                      <ion-label style="color: #ccc;">Link</ion-label>
                      <ion-toggle (ionChange)="addAttachmentLink($event)"></ion-toggle>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row *ngIf="addAttachmentLinkSection">
                  <ion-col size="4">
                    <ion-label class="addNewNewsLabelForm">
                      Website Attachment Link
                    </ion-label>
                  </ion-col>
                  <ion-col size="8">
                    <ion-item>
                      <ion-input placeholder="Enter Link" type="url" clearInput formControlName="newsAttachmentLink"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
          
                <ion-row>
                  <ion-col size="4">
                    <ion-label class="addNewNewsLabelForm">
                      News Published By:
                    </ion-label>
                  </ion-col>
                  <ion-col size="8">
                    <ion-item>
                      <ion-input type="text" readOnly clearInput formControlName="newsPublisher"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-checkbox checked="false" disabled="true"></ion-checkbox>
                    <p style="position: absolute;
                              top: 5px;
                              left: 30px;">
                      Send Email to Subscribed Members (Outlook)
                    </p>
                  </ion-col>
                  
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-button style="position: relative;
                                      left: 50%;
                                      transform: translateX(-50%);" expand="block" type="submit" [disabled]="!addNewNewsForm.valid">
                      Add
                    </ion-button>
                  </ion-col>
                </ion-row>

              </ion-grid>
            </form>

          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>


  </ion-grid>
</ion-content>
