<ion-split-pane contentId="content"> <!-- Opens the side menu in large screens -->

  <ion-menu contentId="content" type="overlay" menuId="noti" style="width: 100px;"> <!-- (ion-menu section displays the menu part) -->

    <ion-header>
      <ion-card style="background-color: white;
                      height: 150px;">
        <ion-card-header>
          <ion-img src="../../../assets/images/NSBM_Hub_Logo.png" style="width: 70px;
                                                                        position: relative;
                                                                        left: 50%;
                                                                        transform: translateX(-50%);"></ion-img>
          <ion-label>
            <h3 style="text-align: center; 
                      color: black;
                      margin-top: 10px;"><b>NSBM Hub <br> Management System</b></h3>
          </ion-label>
        </ion-card-header>
      </ion-card>
    </ion-header>

    
    <ion-content>


      
    
    
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet> <!-- (ion-router) section displays the content relavant for the page -->
  <!-- this will be loaded from the loadChrildren link provided in the app-routing.module.ts file -->

</ion-split-pane>