<ion-header>
  <ion-toolbar>
    <ion-title>Notice Cover Image</ion-title>
    <ion-button (click)="closeViewImageNoticeModal()" slot="end" shape="round" fill="outline" color="danger" style="margin-right: 20px;">
      <ion-icon name="close-outline" style="font-size: 30px;"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card style="min-height: 100%;">
    <ion-card-content>
      <div style="position: relative;
                  left: 50%;
                  top: 75%;
                  transform: translate(-50%,-25%);">
        <ion-img src="{{ passedCoverImageFilePath }}" height="100%"></ion-img>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
