<app-header></app-header>

<a class="weatherwidget-io" href="https://forecast7.com/en/6d8480d00/homagama/" data-theme="pure" >Homagama, Sri Lanka</a>
<div class="container background position-absolute mt-5 con">
  <ul id="apps" class="form-inline">
<li  class="col-md-6 col-lg-4 pa">
  <div class="card border-success shadow-sm bg-dark w-75"><a routerLink="/Discover NSBM" style="color: white;">
  <img class="card-img-top w-100 d-block" src="../../assets/image/discover.jpg"  alt="...">
  <div class="card-body ">
    <strong><h3>Discover NSBM</h3></strong>
  </div></a>
</div>
</li>
<li  class="col-md-6 col-lg-4 pa">
  <div class="card border-success  shadow-sm bg-dark w-75 "><a routerLink="/business" style="color: white;">
    <img class="card-img-top w-100 d-block" src="../../assets/image/facalty.jpg" alt="...">
    <div class="card-body">
     <strong><h3>Facalties</h3></strong>
    </div></a>
  </div>
</li>
<li class="col-md-6 col-lg-4 pa">
  <div class="card border-success shadow-sm bg-dark w-75"><a routerLink="/news" style="color: white;">
    <img class="card-img-top w-100 d-block" src="../../assets/image/News.jpg"  alt="...">
    <div class="card-body">
      <h3> News</h3>
    </div></a>
  </div>
</li>
</ul>
<ul id="apps" class="form-inline">
<li class="col-md-6 col-lg-4 pa">
  <div class="card border-success bg-dark w-75"><a routerLink="/international" style="color: white;">
  <img class="card-img-top w-100 d-block" src="../../assets/image/international.jpg" alt="...">
  <div class="card-body ">
    <h3>International</h3>
  </div></a>
</div>
</li>
<li class="col-md-6 col-lg-4 pa ln">
  <div class="card border-success bg-dark w-75"><a routerLink="/Sports clubs" style="color: white;">
    <img  class="card-img-top w-100 d-block" src="../assets/image/nsbm.jpg"  alt="...">
    <div class="card-body">
      <h3>Life at NSBM</h3>
    </div></a>
  </div>
</li>
<li class="col-md-6 col-lg-4 pa">
  <div class="card border-success bg-dark w-75"><a routerLink="/calender" style="color: white;">
    <img  class="card-img-top w-100 d-block" src="../../assets/image/calendar.jpeg"  alt="Calendar">
    <div class="card-body">
      <h3>Event Calendar</h3>
    </div></a>
  </div>
</li>
</ul>
<ul id="apps" class="form-inline">
  <li class="col-md-6 col-lg-4 pa">
    <div class="card border-success bg-dark w-75"><a (click)="openwifi()" style="color: white; cursor: pointer;">
    <img class="card-img-top w-100 d-block" src="../../assets/image/wifi.jpeg" alt="...">
    <div class="card-body ">
      <h3>WIFI INFO</h3>
    </div></a>
  </div>
  </li>
  <li class="col-md-6 col-lg-4 pa lc">
    <div class="card border-success bg-dark w-75"><a routerLink="/location" style="color: white;">
    <img class="card-img-top w-100 d-block" src="../../assets/image/location.jpg" alt="...">
    <div class="card-body ">
      <h3>Location</h3>
    </div></a>
  </div>
  </li>
  </ul>
</div>





