
ul#apps li{
display: inline-block;
padding-left: 20px;
padding-bottom: 20px;

}
.background{
background-image: url(../../../assets/image/nsbm.png);
background-repeat: no-repeat;
background-size: 100%;
background-position: center;
}







