<ion-split-pane contentId="content"> <!-- Opens the side menu in large screens -->

  <ion-menu contentId="content" type="overlay"> <!-- (ion-menu section displays the menu part) -->
    
    <ion-content>

      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages"> <!-- This 'pages' references to pages array in side-menu.page.ts file -->
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)">
            <ion-label>
              <ion-icon slot="start" [name]="p.icon"></ion-icon> 
              {{ p.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

    </ion-content>

  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet> <!-- (ion-router) section displays the content relavant for the page -->
  <!-- this will be loaded from the loadChrildren link provided in the app-routing.module.ts file -->

</ion-split-pane>