<ion-header>
  <ion-toolbar>
    <ion-title>Edit News Category Details</ion-title>
    <ion-button (click)="closeEditNewsCategory()" slot="end" shape="round" fill="outline" color="danger" style="margin-right: 20px;">
      <ion-icon name="close-outline" style="font-size: 30px;"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card style="height: 100%;">
    <ion-card-content>

      <ion-label style="position: absolute;
                        left: 50%;
                        top: 30px;
                        transform: translate(-50%);
                        font-size: 18px;">
        <b>In Development</b> - Will be released soon
      </ion-label>

    </ion-card-content>
  </ion-card>

</ion-content>
