<ion-list style="min-width: 350px;">
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="closeMoreDetailsPOStudentsNoticePopover()" color="danger">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label style="font-size: 20px;">
            <b>More Details</b>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>
            <b>Faculty Created By:</b>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            {{ passedNoticeCreatedFaculty }}
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>
            <b>Created At:</b>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            {{ passedNoticeCredtedDateTime.toDate() | date: 'dd-MM-yyy | h:mm a' }}
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>
            <b>Sent To:</b>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label style="font-size: 17px;">
            Module Recipients: 
          </ion-label>
          <ion-label *ngIf="recipientBatchNone" style="margin-left: 30px;">
            None <br>
          </ion-label>
          <ion-label *ngFor="let item of passedNoticeRecipientBatch" style="margin-left: 30px;
                                                                            height: 100px;
                                                                            overflow-y: scroll;">
            {{ item }} <br>
          </ion-label>
          <ion-label style="font-size: 17px;
                            margin-top: 15px;">
            Batch Recipients: 
          </ion-label>
          <ion-label *ngIf="recipientModuleNone" style="margin-left: 30px;">
            None <br>
          </ion-label>
          <ion-label *ngFor="let item of passedNoticeRecipientModule" style="margin-left: 30px;
                                                                            height: 100px;
                                                                            overflow-y: scroll;">
            {{ item }} <br>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>