<app-header></app-header>

  <div class="d-flex justify-content-center" style="background-color: rgb(230, 228, 228);">
    <img src="../../assets/image/nsbm-st.jpg" class=" w-75 h-50" >
  </div>
<div class=" container pt-3">
    <div>
        <h2>Studying at NSBM</h2>
    </div>
    <div>
       <p>
        Experience the future of higher education while enjoying the tropical weather combined with a peaceful environment. NSBM Green University Town
         provides opportunity to get degrees from top ranked universities at an affordable price in a state of the art environment. With the interaction
         of both foreign flying faculty and local academics, the unique model of NSBM higher education brings endless opportunities to enjoy the youthhood
          while gaining well recognized education. Our specialized staff appointed in handling the foreign students will guide you through the entire process
         starting from registrations, applying and renewal of visa and finding of accomdations to make your stay smooth and productive.
       </p>
    </div>
    <br>
    <br>
    <h2> International Degree Programs </h2>
    <div class="row">
        <div class="col">
        <h3> Faculty of Computing</h3>
        <br>
        <h6> University College of Dublin - Ireland</h6>
        <ul>
            <li>
                BSc (Hons) Management
            </li>
            <li>
                BSc (Hons) Human Resource Management
            </li>
        </ul>
         <h6>Victoria University - Australia</h6>
        <ul>
          <li>
            Bachelor of Business: Banking and Finance & Financial Risk Management
          </li>
        </ul>
         <h6>Plymouth University - United Kingdom</h6>
        <ul>
          <li>
            BSc (Hons) International Management and Business
          </li>
          <li>
            BSc (Hons) Accounting and Finance
          </li>
          <li>
            BSc (Hons) Marketing Management
          </li>
          <li>
            BSc (Hons) Operations and Logistics Management
          </li>
          <li>
            BSc (Hons) Events, Tourism and Hospitality Management
          </li>
          <li>
            BSc (Hons) Business Communication
          </li>
        </ul>
        </div>
        <div class="col pt-2">
        <h3> Faculty of Business</h3>
        <h6>University College of Dublin - Ireland</h6>
       <ul>
         <li>
            BSc (Hons) Management Information Systems
         </li>
       </ul>
       <h6>Victoria University - Australia</h6>
       <ul>
        <li>
            Bachelor of Information Technology (NBIT): Major in Web and Mobile Application Development
        </li>
       </ul>
       <h6>Plymouth University - United Kingdom</h6>
       <ul>
           <li>
            BSc (Hons) Software Engineering
           </li>
           <li>
            BSc (Hons) Computer Security
           </li>
           <li>
            BSc (Hons) Computer Networks
           </li>
       </ul>
        </div>
    </div>
 <div class=" pt-3">
    <h3>Student Visa</h3>
    <div class="row">
        <div class="col">
            <h5> Document Requirement</h5>
            <ul>
                <li>
                    Student intending to study in Sri Lanka should first contact the NSBM and seek admission to a study programme
                </li>
                <li>
                    NSMB will apply to the Department Immigration for entry visa approval
                </li>
                <li>
                    The Department of Immigration notifies the nearest Sri Lanka Diplomatic Mission of the entry visa approval
                </li>
                <li>
                    Student reports to the nearest Sri Lanka Diplomatic Mission to obtain
                    the Entry Visa endorsed on the passport Foreigner arrives in Sri Lanka
                </li>
                <li>
                    At the port of entry, immigration may grant entry for specified period
                </li>
                <li>
                    Upon entering Sri Lanka, before the expiry of the visa given at the port of entry,
                    the passport of the foreigner should be referred to the Department of Immigration for stamping student visa on it
                </li>
            </ul>
            </div>
            <div class="col">
            <h5>Application Procedure</h5>
            <ol>
                <li>
                    Obtaining entry visa approval from the Department of Immigration in Colombo
                </li>
                <li>
                    http://www.immigration .gov.lk
                </li>
                <li>
                    Collecting Entry visa endorsement from the nearest Sri Lanka Diplomatic mission and travel to Sri Lanka
                </li>
                <li>
                    After arrival in Sri Lanka, collect student visa endorsement on
                     passport at the Department of Immigration in Colombo
                </li>
            </ol>
            <h6>Further Details</h6>
           <p>
            Please contact the Department of Immigration and Immigration Centre.
            Address: “Suhurupaya”, Subuthi Drive, Battaramulla.
            Phone: +94 115 329 000
           </p>
           <p>
            Approval for entry visa can be applied at:
            Department of Immigration and Emigration
            http://www.immigratoin.gov .lk
           </p>
            </div>
    </div>
</div>
</div>

