<app-life-at-nsbm></app-life-at-nsbm>
<router-outlet></router-outlet>
<div class=" container pt-5">
    <div class="row">
        <div class="col ">
          <div class="card w-80 p-3" style="margin-right: 200px;">
            <div class="card-body">
              <h5 class="card-title">ROTARACT CLUB</h5>
              <p class="card-text">
                <img class="rounded float-left" src="../../assets/image/rotaract.png"  style="width: 250px; height: 200px;">
                Chartered in 2013 as the first student activity group at National School of Business Management, Rotaract Club of NSBM has acquired
                a significant membership of over 100 capable youth leaders representing diverse areas of discipline such as Management, Computing and
                Interior Design, and has initiated a portfolio of significant projects ever since.
                These projects include ‘Flair’ — an acoustic night unleashing true talent, ‘Manusathkara’ — a series of health camps conducted for under-privileged communities,
                 offering free eye-checkups and free spectacles to elderly people , ‘Mentor’ — a career guidance open forum done in collaboration with Uniliver, Sri Lanka, Christmas Carols and many more.
                In its history of six years thus far, the club has already marked its name as a strong and vibrant Rotaract club in the RI District 3220 – Sri Lanka & Maldives, with a number of notable
                achievements and awards, and leaders gifted to the community at large. It is sponsored by one of the strongest Rotary clubs in the District — the Rotary Club of Colombo West.
              </p>
              </div>
          </div>
         </div>
      </div>
      <br>
      <br>
      <div class="row justify-content-end">
        <div class="col">
          <div class="card text-right w-80 p-3 " style="margin-left: 200px;">
            <div class="card-body">
              <h5 class="card-title">LEO CLUB</h5>
              <p class="card-text">
                <img class="rounded float-right" src="../../assets/image/leo.jpg" style="width: 250px; height: 200px;">
                Leo club is one of the largest and fastest growing service organizations around the world for young adults was brought up in national school of business management (NSBM) in the 100th year anniversary of Leo clubs.
                Under the guidance of Ms.Dilini Dissanayake and past distict president Leo Mateesha Wanigasinghe, LEO culb of NSBM was established. The  very first president for the Leostic year 2017/2018 was Leo Matheesha Thilakarathne
                and the following year was led by Leo Sanhindi Fonseka,which was an award winning year for the Leo club of NSBM. Our current president for the leostic year 2019/2020 is Leo Akila Sulakkana ,who is a well experienced and an award winning Leo.
                Throughout this very short period leoism has played a very important role in our lives which gave us opportunities through which we have earned innumerable experiences.
              </p>
            </div>
          </div>
         </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col ">
          <div class="card w-80 p-3" style="margin-right: 200px;">
            <div class="card-body">
              <h5 class="card-title">AIESEC</h5>
              <p class="card-text">
                <img class="rounded float-left" src="../../assets/image/isec.png"  style="width: 250px; height: 200px;">
                AIESEC is the world’s largest youth run organization present in 124 countries. We develop leadership skills of youth through cross-cultural exchange programs. AIESEC provides a
                global platform for young people to explore and develop their leadership potential.
               AIESEC in NSBM was officially installed in January 2017 as an Initiative Group directly under AIESEC Sri Lanka, within a very short time span upgraded to an Official Expansion and awarded
               as the “Most Progressive Expansion” for two consecutive years. As one of the most active societies in NSBM, our AIESECers take multiple initiatives throughout the year to ensure the development
              of its’ membership body. Within a year we embark approximately 15 Incoming Global Volunteer projects, bring in more than 100 Exchange Participants. While giving our own graduates the opportunity to
               become a Global Volunteer for multiple projects initiated in different countries.
              </p>
              </div>
          </div>
         </div>
      </div>
      <br>
      <br>
      <div class="row justify-content-end">
        <div class="col">
          <div class="card text-right w-80 p-3 " style="margin-left: 200px;">
            <div class="card-body">
              <h5 class="card-title">TOASTMASTER CLUB</h5>
              <p class="card-text">
                <img class="rounded float-right" src="../../assets/image/toast.jpg"  style="width: 250px; height: 200px;">
                Toastmasters is an educational organization that operates clubs worldwide for the purpose of promoting communication and public speaking skills. Toastmasters uses a club-based structure,
                each having around 20–40 members. Meetings are held every week and usually in the evening. Part of meetings is devoted to Table Topics, which are off-the-cuff speeches which are assigned
                on the spot by a Topics master. The goal of this is to think on one’s feet with minimal preparation. Every meeting is also based around a set of organized speeches. Speakers are evaluated
                by an experienced member who then gives an impromptu speech with constructive feedback based on their performance.
              </p>
              </div>
          </div>
         </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col ">
          <div class="card w-80 p-3" style="margin-right: 200px;">
            <div class="card-body">
              <h5 class="card-title">Gavel Club</h5>
              <p class="card-text">
                <img class="rounded float-left" src="../../assets/image/gavel.jpg" style="width: 250px; height: 200px;">
                Toastmasters are a language development community where all sought of people joined to improve their English language skills. Later on this went on to become a gentlemen’s club. Joining the
                club nowadays costs about $50. In 1900s they made a big mistake in order to train the young people before they joined the club, they introduced gavel clubs. Where young people would get the
                same privileges for no cost at all. With this more and more people started joining the gavel club. And gavel clubs went on to threaten Toastmasters itself. In response Toastmasters decided to
                add strict laws on these gavel clubs. Which made several gavel clubs become independent leaving toastmasters.
              </p>
              </div>
          </div>
         </div>
      </div>
      <br>
      <br>
</div>


