<app-header></app-header>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
<div class=" about">
</div>
<div  class=" ml-5 pt-3">
    <h1>About NSBM</h1>
</div>
<div  class=" ml-5 mr-5">
    <div class=" row">
        <div class="col-sm-6">
            <p> National School Of Business also known as NSBM was founded in 2011 and became the first green university in the South Asia inspiring many other universities inaddition caring for enviormental
                sustainability, NSBM Green University Town is established under the Ministry of Industry & Commerce and is a semi goverment institute which provides state-of-the-art facilities to imporve the
                university experience of the students, NSBM offers nationally and internationally recognized, UGC approved degree programmes and foreign degree programmes in three faculties: school of Management,
                school of Computing and school of Engineering.</p>
        </div>
        <div class="col-sm-6">
            <p>Currently in NSBM arround 9000 students are present and inorder to educate and provide guidense there are local and foriengn lectures from which NSBM
                has partnered up with to provide forien degree programmes. Inspired by the vision of making Sri Lanka the best educational hub in Asia, NSBM Green University Town is dedicated to gift the future leaders
                to the world with its fully-fledged university. </p>
        </div>
    </div>
</div>

<div style="background-color: white;">
    <div class="embed-responsive embed-responsive-16by9 mb-4 container">
        <iframe class="embed-responsive-item" style="width: 750pt; height: 480pt; padding-left: 150pt;" src="https://www.youtube.com/embed/YnyuINToGS4"
          allowfullscreen></iframe>
      </div>
</div>

<div class="row">
  <div class="col ">
    <div class="card w-50 p-3 ml-5">
      <div class="card-body">
        <h5 class="card-title">Vision</h5>
        <p class="card-text">
          To be Sri Lanka’s best performing Graduate School and to be recognized internationally
        </p>
        </div>
    </div>
   </div>
</div>
<br>
<br>
  <div class="row pb-5" style="float: right;">
      <div class="col">
        <div class="card text-right w-80 p-3 mr-4">
          <div class="card-body">
            <h5 class="card-title">Mission</h5>
            <p class="card-text">
              To develop globally competitive and responsible graduates that businesses demand,
              working in synergy with all our stakeholder and contributing to our society
            </p>
            </div>
        </div>
       </div>
    </div>
</body>
</html>
