ion-content{
    --ion-background-color: rgb(243, 243, 243);
}

ion-card{
    --ion-background-color: white;
}

ion-item{
    border: #ccc solid 1px;
    border-radius: 5px;
}

ion-label{
    color: black;
}

.addSlotFormLabel{
    position: relative;
    top: 15px;
}

.newSlotDepartureDestinationFormItem{
    border: rgb(0, 110, 161) solid 1px;
    border-radius: 5px;
}