<ion-header style="height: 70px;">
  <ion-toolbar>

    <!-- This will add a button to show the side menu when the side menu is hidden in small screens -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title style="position: absolute;
                      top: 40%;">LECTURERS</ion-title>

    <!-- Header Contents Section -->
    <div style="position: absolute;
                right: 5px;
                top: 8px;">
      <!-- Notification Bell, Unread Notifications Count, Drop Down -->          

      <ion-button fill="clear" color="dark" style="width: 100px;
                                                  height: 45px;
                                                  background-color: white;" (click)="openNotificationPopover($event)">

        <!-- Notification Bell Icon -->
        <div style="height: 42px;
                  width: 42px;"> 
          <ion-icon name="notifications-outline" style="font-size: 35px;
                                                        position: absolute;
                                                        top: 5px;
                                                        left: 0px;"></ion-icon>
        </div>

          <!-- Arrow Icon -->
        <div style="position: absolute;
                    left: 50px;
                    top: 10px;
                    font-size: 26px;">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
      </ion-button>

    </div>

  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col size="12">

        <ion-card style="max-height: 600px;">
          <ion-card-header>
            <ion-card-title>
              Registered Lecturers
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <form [formGroup]="searchRegisteredLecturerForm" (ngSubmit)="doSearchRegisteredLecturer(searchRegisteredLecturerForm.value)">
              <ion-grid>
                <ion-row>
                  <ion-col size="5">
                    <ion-item>
                      <ion-input type="number" placeholder="Enter NSBM ID" clearInput formControlName="nsbmId"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="0.5">
                    <ion-label style="position: absolute;
                                      left: 50%;
                                      top: 50%;
                                      transform: translate(-50%, -50%);
                                      font-size: 20px;">
                      OR
                    </ion-label>
                  </ion-col>
                  <ion-col size="5">
                    <ion-item>
                      <ion-input type="text" placeholder="Enter NSBM Email Address" clearInput formControlName="nsbmEmailAddress"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="1.5">
                    <ion-button style="min-height: 100%;
                                      min-width: 100%;
                                      margin-top: 0px;" type="submit" [disabled]="searchRegisteredLecturerForm.valid">
                      <ion-icon name="search-outline" style="margin-right: 5px;
                                                            font-size: 20px;"></ion-icon>
                      <ion-label style="font-size: 20px;
                                        color: white;">
                        Search
                      </ion-label>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>

            <div style="border-top: #ccc solid 1px;
                        min-width: 100%;"></div>

            <!-- Page loading search registered lecturer text -->
            <div *ngIf="pageLoadSearchLecturerText" style="position: absolute;
                                                        top: 150px;
                                                        left: 50%;
                                                        transform: translateX(-50%);
                                                        font-size: 18px;
                                                        border: rgb(100, 116, 121) solid 2px;
                                                        border-radius: 5px;
                                                        padding: 15px;">
              <ion-icon name="chevron-up-circle-outline" style="color: rgb(8, 177, 219);
                                                                font-size: 30px;
                                                                margin-top: 2px;
                                                                margin-right: 10px;"></ion-icon>
              <ion-label style="position: relative;
                                top: -5px;">
                Please populate a field and click 'Search' button to search for a registered lecturer.
              </ion-label>
            </div>


            <ion-spinner name="dots" style="position: absolute;
                                            left: 50%;
                                            transform: translateX(-50%);
                                            margin-top: 20px;
                                            height: 100px;
                                            width: 100px;" *ngIf="showLoadingDots"></ion-spinner>


            <div style="overflow-y: scroll; 
                        height: 500px;
                        margin-top: 15px;">
              <ion-grid>

                <ion-row>

                  <ion-col size="4" size-sm="12" size-lg="3">

                    <ion-card *ngIf="registeredLecturerCard">
                      <ion-card-header>
                        <ion-card-title>{{ lecturerNamePrefix }} {{ lecturerNameFirstName }} {{ lecturerNameMiddleName }} {{ lecturerNameLastName }} </ion-card-title>
                      </ion-card-header>
                      <ion-card-content>
                        <b>NSBM ID: </b> {{ lecturerNsbmLecturerId }} <br>
                        <b>NSBM Email Address: </b> {{ lecturerNsbmEmailAddress }} <br>
                        <b>Specialization: </b> {{ lecturerSpecialization }} <br>
                        <b>Specialied Faculty: </b> {{ lecturerSpecializedFaculty }} <br>
                        <b>Account Status: </b> {{ lecturerStatus }}
                        <ion-grid>
                          <ion-row>
                            <ion-col>
                              <ion-button shape="round" color="secondary" style="min-width: 100%;">
                                <ion-icon name="create-outline" style="margin-right: 5px;
                                                                      color: white;"></ion-icon>
                                <ion-label style="color: white">
                                  Edit
                                </ion-label>
                              </ion-button>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="disableButton">
                            <ion-col>
                              <ion-button shape="round" color="danger" style="min-width: 100%;" (click)="disableLecturerAccount('Confirmation Required','This student account will be DISABLED, do you want to continue?')">
                                <ion-icon name="lock-closed" style="margin-right: 5px;"></ion-icon>
                                <ion-label style="color: white">
                                  Disable Account
                                </ion-label>
                              </ion-button>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngIf="enableButton">
                            <ion-col>
                              <ion-button shape="round" color="medium" style="min-width: 100%;" (click)="enableLecturerAccount('Confirmation Required','This student account will be ENABLED, do you want to continue?')">
                                <ion-icon name="lock-open-outline" style="margin-right: 5px;"></ion-icon>
                                <ion-label style="color: white">
                                  Enable Account
                                </ion-label>
                              </ion-button>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-card-content>
                    </ion-card>

                  </ion-col>

                </ion-row>

              </ion-grid>
            </div>

          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" size-sm="12" size-lg="6">

        <ion-card style="height: 105%;">
          <ion-card-header>
            <ion-card-title>
              Register Lecturer
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <form [formGroup]="lecturerRegistrationForm" (ngSubmit)="doLecturerRegistration(lecturerRegistrationForm.value)"> 
              <ion-grid>

                <ion-row>

                  <ion-col size="12" size-sm="12" size-lg="6">

                    <ion-label class="registerLecturerFormLabel">
                      NSBM Lecturer ID
                    </ion-label>

                  </ion-col>
                  <ion-col size="12" size-sm="12" size-lg="6">
                    <ion-item>
                      <ion-input type="number" placeholder="Lecturer ID" clearInput formControlName="nsbmLecturerId"></ion-input>
                    </ion-item>
                  </ion-col>

                </ion-row>
                <ion-row>
                  
                  
                  <ion-col size="12" size-sm="12" size-lg="6">

                    <ion-label class="registerLecturerFormLabel">
                      Name
                    </ion-label>

                  </ion-col>
                  <ion-col size="12" size-sm="12" size-lg="6">

                    <ion-row style="margin-bottom: 10px;">
                      <ion-item style="min-width: 100%;">
                        <ion-label>Name Prefix</ion-label>
                        <ion-select formControlName="nameTitle">
                          <ion-select-option value="Mr.">Mr.</ion-select-option>
                          <ion-select-option value="Sir.">Sir.</ion-select-option>
                          <ion-select-option value="Dr.">Dr.</ion-select-option>
                          <ion-select-option value="Mrs.">Mrs.</ion-select-option>
                          <ion-select-option value="Miss.">Miss</ion-select-option>
                          <ion-select-option value="Ms.">Ms</ion-select-option>
                        </ion-select>
                      </ion-item>
                    </ion-row>
                    <ion-row style="margin-bottom: 10px;">
                      <ion-item style="min-width: 100%;">
                        <ion-input type="text" placeholder="First Name" clearInput formControlName="firstName"></ion-input>
                      </ion-item>
                    </ion-row>
                    <ion-row style="margin-bottom: 10px;">
                      <ion-item style="min-width: 100%;">
                        <ion-input type="text" placeholder="Middle Name" clearInput formControlName="middleName"></ion-input>
                      </ion-item>
                    </ion-row>
                    <ion-row style="margin-bottom: 10px;">
                      <ion-item style="min-width: 100%;">
                        <ion-input type="text" placeholder="Last Name" clearInput formControlName="lastName"></ion-input>
                      </ion-item>
                    </ion-row>

                  </ion-col>

                </ion-row>
                <ion-row>

                  <ion-col size="12" size-sm="12" size-lg="6">

                    <ion-label class="registerLecturerFormLabel">
                      Specialized Faculty
                    </ion-label>

                  </ion-col>
                  <ion-col size="12" size-sm="12" size-lg="6">

                    <ion-item>
                      <ion-label>Specialized Faculty</ion-label>
                      <ion-select cancelText="Cancel" okText="Continue" formControlName="specializedFaculty"> 
                        <ion-select-option value="School of Computing">School of Computing</ion-select-option>
                        <ion-select-option value="School of Business">School of Business</ion-select-option>
                        <ion-select-option value="School of Engineering">School of Engineering</ion-select-option>
                      </ion-select>
                    </ion-item>

                  </ion-col>

                </ion-row>
                <ion-row>

                  <ion-col size="12" size-sm="12" size-lg="6">

                    <ion-label class="registerLecturerFormLabel">
                      Specialization
                    </ion-label>

                  </ion-col>
                  <ion-col size="12" size-sm="12" size-lg="6">
                    <ion-item>
                      <ion-input type="text" placeholder="Enter Field" clearInput formControlName="specialization"></ion-input>
                    </ion-item>
                  </ion-col>

                </ion-row>
                <ion-row>

                  <ion-col size="12" size-sm="12" size-lg="6">

                    <ion-label class="registerLecturerFormLabel">
                      NSBM Email
                    </ion-label>

                  </ion-col>
                  <ion-col size="12" size-sm="12" size-lg="6">

                    <ion-item>
                      <ion-input type="email" placeholder="Eg: sample@nsbm.lk" clearInput formControlName="nsbmEmail"></ion-input>
                    </ion-item>

                  </ion-col>

                </ion-row>
                <ion-row>

                  <ion-col size="12" size-sm="12" size-lg="6">

                    <ion-label class="registerLecturerFormLabel">
                      Password
                    </ion-label>

                  </ion-col>
                  <ion-col size="12" size-sm="12" size-lg="6">

                    <ion-item>
                      <ion-input type="password" placeholder="Enter password" clearInput formControlName="password"></ion-input>
                    </ion-item>

                  </ion-col>

                </ion-row>
                <ion-row>

                  <ion-col size="12" size-sm="12" size-lg="6">
                    
                    <ion-label class="registerLecturerFormLabel">
                      Confirm Password
                    </ion-label>

                  </ion-col>
                  <ion-col size="12" size-sm="12" size-lg="6">

                    <ion-item>
                      <ion-input type="password" placeholder="Enter password" clearInput formControlName="confirmPassword"></ion-input>
                    </ion-item>

                  </ion-col>

                </ion-row>
                <ion-row>

                  <ion-col size="12" size-sm="12" size-lg="6">

                    <ion-label class="registerLecturerFormLabel">
                      User Account Status
                    </ion-label>

                  </ion-col>
                  <ion-col size="12" size-sm="12" size-lg="6">

                    <ion-item>
                      <ion-label>Status</ion-label>
                      <ion-select cancelText="Cancel" okText="Continue" formControlName="lecturerStatus"> 
                        <ion-select-option *ngFor="let item of publishedUserStatuses" value="{{ item.payload.doc.data().status }}">
                          {{ item.payload.doc.data().status }}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>

                  </ion-col>

                </ion-row>
                <ion-row>

                  <ion-col size="12" size-sm="12" size-lg="6">
                    
                    <ion-label>
                      Terms & Conditions
                    </ion-label>

                  </ion-col>
                  <ion-col size="12" size-sm="12" size-lg="6" style="margin-left: 50px;">

                    <ion-checkbox checked="false" formControlName="termsAndConditionsAgreement"></ion-checkbox>
                    <ion-label>
                      Please refer the <span (click)="showTermsAndConditions()">Terms & Conditions</span> and agree to this by ticking the box.
                    </ion-label>

                  </ion-col>

                </ion-row>
                <ion-row>

                  <ion-col style="margin-top: 10px;">

                    <ion-checkbox checked="false" disabled="true"></ion-checkbox>
                    <ion-label>
                      Send credentials to this User's email account (Outlook)
                    </ion-label>

                  </ion-col>

                </ion-row>

                <ion-row>
                  <ion-col style="margin-top: 15px;">
                    <ion-item>
                      <ion-label style="position: absolute;
                                        left: 50%;
                                        top: 0px;
                                        transform: translateX(-50%);
                                        font-size: 17px;">
                        Note: Current Logged In Program Office User will be Logged Out.
                      </ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>

                  <ion-col>

                    <ion-button style="position: absolute;
                                      left: 50%;
                                      transform: translateX(-50%);
                                      top: 10px;" type="submit" [disabled]="!lecturerRegistrationForm.valid">
                      Register
                    </ion-button>

                    <!-- Loading Spinner -->
                    <ion-spinner name="crescent" style="position: absolute;
                                                        top: 18px;
                                                        left: 60%;
                                                        transform: translateX(-40%);" *ngIf="registerLecturerLoadingSpinner"></ion-spinner>

                  </ion-col>

                </ion-row>

              </ion-grid>
            </form>



          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col size="6">

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
