<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CLIENT_ID</key>
    <string>435147747566-7n4demmh5o3p89vakk5fhnuc0gts42uj.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.435147747566-7n4demmh5o3p89vakk5fhnuc0gts42uj</string>
    <key>API_KEY</key>
    <string>AIzaSyDsq-Gk6ULeK2f55ekKrgIh0euDNhG_q3g</string>
    <key>GCM_SENDER_ID</key>
    <string>435147747566</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>lk.nsbmhub.rpls</string>
    <key>PROJECT_ID</key>
    <string>pusl2003-be5c8</string>
    <key>STORAGE_BUCKET</key>
    <string>pusl2003-be5c8.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false/>
    <key>IS_ANALYTICS_ENABLED</key>
    <false/>
    <key>IS_APPINVITE_ENABLED</key>
    <true/>
    <key>IS_GCM_ENABLED</key>
    <true/>
    <key>IS_SIGNIN_ENABLED</key>
    <true/>
    <key>GOOGLE_APP_ID</key>
    <string>1:435147747566:ios:d122464ef1f9a7ac6a43ff</string>
    <key>DATABASE_URL</key>
    <string>https://pusl2003-be5c8.firebaseio.com</string>
    <key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
    <string>true</string>
    <key>FIREBASE_PERFORMANCE_COLLECTION_ENABLED</key>
    <string>true</string>
    <key>FIREBASE_CRASHLYTICS_COLLECTION_ENABLED</key>
    <string>true</string>
  </dict>
</plist>