<app-faculties></app-faculties>
<router-outlet></router-outlet>
<div>
    <img src="../../assets/image/business.jpg" class=" w-100 pt-1">
  </div>
<div  class=" ml-5">
    <div class=" row">
        <div class="col-sm-6">
            <h2>Faculty of Business</h2>
            <p>
            <br>
             The Faculty of Business of NSBM is the ideal faculty for any undergraduate interested in pursuing a career in the Business field. The Faculty nurtures students with a business mind and molds them into fully-fledged business leaders of the future.
             The drive behind achieving this goal is the passion for excellence and perfection that surrounds the Faculty of Business in its methods of teaching, learning, research and networking with the business community.
             The Faculty of Business offers many degree programs: Business Management, Human Resource Management, Banking and Finance, Accounting, Business Communications, Industrial Management, and Project Management being amongst
             the many specializations offered in collaboration with world renowned universities, University College Dublin, Ireland, University of Victoria,
             Australia and University of Plymouth, UK, as well as NSBM owned degrees approved by the University Grants Commission.</p>
        </div>
        <div class="col-sm-6 pl-5 ">
            <p>
                <br>
                <br>
            This gives our graduates the opportunity to gain an International degree while living and working in Sri Lanka.
            Students will find learning at NSBM Faculty of Business quite a unique and interesting experience as undergraduates are also given the taste of real-life business experiences while learning the theories behind it, at class.
            Through this process, the Faculty strives to prepare business undergraduates to face any challenge in the real business world as they will be equipped with excellent problem solving and analytical capabilities. The Faculty of Business
            takes special care to ensure that all students are provided with intellectual depth and abundant resources as well as individual attention.
            Each department of the Faculty of Business is dedicated to its’ students and provides them the best possible educational experience. So, if you’re looking for a bright future in Business, NSBM Faculty of Business is the place to be!
            </p>
        </div>
    </div>
</div>
<div style="background-color: lightgreen;" class=" w-100 mb-1">
    <div style="background-color: lightgray;">
        <h2 style="text-align: center;">Programmes Offered</h2>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-4">
          <div class="card w-100">
            <div class="card-body">
              <h5  class="card-title"> UGC Approved - Offered By NSBM</h5>
              <ul class=" card-text">
                  <li>
                    BSc in Business Management (Human Resource Management) (Special)
                  </li>
                  <li>
                    BSc in Business Management (Logistics Management) (Special)
                  </li>
                  <li>
                    BSc in Business Management (Project Management) (Special)
                  </li>
                  <li>
                    BSc in Business Management (Industrial Management) (Special)
                  </li>
                  <li>
                    BM (Hons) in International Business
                  </li>
                  <li>
                    BM (Hons) in Accounting and Finance
                  </li>
                  <li>
                    BA in Business Communication
                  </li>
              </ul>
              <h5  class="card-title"> Victoria University - Australia</h5>
              <ul class=" card-text">
                <li>
                    Bachelor of Business: Banking and Finance & Financial Risk Management
                </li>
            </ul>
            <h5 class="card-title">After O/Ls</h5>
            <ul class=" card-text">
                <li>
                    Foundation Programme for Bachelor’s Degree
                </li>
            </ul>
              </div>
          </div>
         </div>
      <br>
      <br>
        <div class="col-4">
          <div class="card w-100 " >
            <div class="card-body">
              <h5 class="card-title">Plymouth University - United Kingdom</h5>
              <ul class=" card-text">
                <li>
                    BSc (Hons) International Management and Business
                </li>
                <li>
                    BSc (Hons) Accounting and Finance
                </li>
                <li>
                    BSc (Hons) Marketing Management
                </li>
                <li>
                    BSc (Hons) Operations and Logistics Management
                </li>
                <li>
                    BSc (Hons) Events, Tourism and Hospitality Management
                </li>
                <li>
                    BSc (Hons) Business Communication
                </li>
            </ul>
            <h5 class="card-title">University College Dublin - Ireland</h5>
            <ul class=" card-text">
                <li>
                    BSc (Hons) Management
                </li>
                <li>
                    BSc (Hons) Human Resource Management
                </li>
            </ul>
            </div>
          </div>
         </div>
      </div>
      <br>
      <br>
</div>

<div class=" row">
    <div class="col-sm-6 align-self-center">
        <h2>Life at Faculty of Business</h2>
    </div>
    <div class="col-sm-6">
        <p>
            Molding next generation leaders, the Faculty of Business provides host of academic and extra-curricular activities. and societies both international and local provides the young undergraduates of the faculty and enormous opportunity to develop
            skills related to team work and leadership.The calendar of faculty of business is full of events, giving unprecedented opportunities to young undergraduates.
        </p>
    </div>
</div>

