ion-content{
    --ion-background-color: rgb(243, 243, 243);
}

ion-card{
    --ion-background-color: white;
}

ion-item{
    border: #ccc solid 1px;
    border-radius: 5px;
}

ion-label{
    position: absolute;
    top: 20px;
    color: black;
    font-size: 15px;
}

