<ion-header>
  <ion-toolbar>
    <ion-title>Register to NSBM Hub Management System</ion-title>
    <ion-button (click)="CloseRegisterModal()" size="small" slot="end" style="margin-right: 10px;">Close</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-label style="font-size: 17px;">
        Registration Form
      </ion-label>
    </ion-card-header>
    <ion-card-content>

      <form [formGroup]="newUserRegistrationForm" (ngSubmit)="sendNewUserDetailsConfirmation( 'Confirmation', 'Check if all entered details are valid. Do you want to continue?', newUserRegistrationForm.value)"> 

        <ion-grid>
          <div style="border: #ccc solid 1px;
                      padding: 10px;
                      border-radius: 5px;">
            <ion-row>
              <ion-col>
                <ion-label style="position: absolute;
                                  top: -20px;
                                  background-color: white;
                                  width: 80px;
                                  text-align: center;
                                  font-size: 15px;">
                  Full Name
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>

              <ion-col>
                <ion-item>
                  <ion-input type="text" clearInput placeholder="First Name" formControlName="firstName"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-input type="text" clearInput placeholder="Middle Name" formControlName="middleName"></ion-input>
                </ion-item>
              </ion-col>

            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-input type="text" clearInput placeholder="Last Name" formControlName="lastName"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>

          <div style="border: #ccc solid 1px;
                      padding: 10px;
                      border-radius: 5px;
                      margin-top: 30px;">
            <ion-row>
              <ion-col>
                <ion-label style="position: absolute;
                                  top: -20px;
                                  background-color: white;
                                  width: 160px;
                                  text-align: center;
                                  font-size: 15px;">
                  University Information
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label style="position: relative;
                                  top: 15px;">
                  NSBM Email Address
                </ion-label> 
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-input type="text" clearInput placeholder="Eg:- sample@nsbm.lk" formControlName="NSBMEmailAddress"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label style="position: relative;
                                  top: 15px;">
                  Faculty
                </ion-label>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-select interface="popover" style="min-width: 100%;" placeholder="Select Faculty" formControlName="faculty">
                    <ion-select-option value="School of Computing" style="width: 100%;">School of Computing</ion-select-option>
                    <ion-select-option value="School of Business" style="width: 100%;">School of Business</ion-select-option>
                    <ion-select-option value="School of Engineering" style="width: 100%;">School of Engineering</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>

          <div style="border: #ccc solid 1px;
                      padding: 10px;
                      border-radius: 5px;
                      margin-top: 30px;">

              <ion-row>
                <ion-col>
                  <ion-label style="position: absolute;
                                    top: -20px;
                                    background-color: white;
                                    width: 130px;
                                    text-align: center;
                                    font-size: 15px;">
                    Login Credentials
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-input type="password" inputClear placeholder="Password" formControlName="password"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-input type="password" inputClear placeholder="Confirm Password" formControlName="confirmPassword"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

          </div>

          <div style="border: #ccc solid 1px;
                      padding: 10px;
                      border-radius: 5px;
                      margin-top: 30px;">

            <ion-row>
              <ion-col>
                <ion-label style="position: absolute;
                                  top: -20px;
                                  background-color: white;
                                  width: 145px;
                                  text-align: center;
                                  font-size: 15px;">
                  Terms & Conditions
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>
                  Please read through the <a href="#"><span style="color: rgb(0, 142, 189);">Terms & Conditions</span></a> and tick the below box to continue the registration
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-checkbox checked="false" formControlName="termsAndConditionsCheckbox"></ion-checkbox>
                <ion-label style="position: relative;
                                  top: -5px;
                                  left: 5px;">
                  I have read and agree to the Terms & Conditions
                </ion-label>
              </ion-col>
            </ion-row>

          </div>

          <ion-row>
            <ion-col>

              <ion-button expand="block" style="margin-top: 20px;" type="submit" [disabled]="!newUserRegistrationForm.valid">
                Send Details to Web Administrator
              </ion-button>

            </ion-col>
          </ion-row>

        </ion-grid>

      </form>

    </ion-card-content>
  </ion-card>

</ion-content>
