<ion-header>
  <ion-toolbar>
    <ion-title>Clubs and Society</ion-title>
    <ion-buttons slot="start">
      <ion-back-button  routerLink="/tabs/t1/Dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="btn-group btn-group-toggle d-flex justify-content-center pt-3" style="background-color: lightgray;" data-toggle="buttons">
    <a routerLink="/tabs/home/clubs/sports" routerLinkActive="active" class="ml-5">
        <label class="btn btn-success w-100">Sports club
        </label>
     </a>
 <a routerLink="/tabs/home/clubs/activity"  class="ml-5">
    <label class="btn btn-success w-100"> Activity Based Club
    </label>
</a>
    <a routerLink="/tabs/home/clubs/international" class="ml-5">
         <label class="btn btn-success w-100"> International Clubs
        </label>
    </a>
    <a routerLink="/tabs/home/clubs/academic" class="ml-5">
        <label class="btn btn-success w-100"> Academic Clubs
       </label>
   </a>
   <a routerLink="/tabs/home/clubs/religion" class="ml-5">
    <label class="btn btn-success w-100"> Relgious Clubs
   </label>
</a>
</div>

  <div class=" container pt-5">
    <div class="row">
        <div class="col ">
          <div class="card w-80 p-3" style="margin-right: 200px;">
            <div class="card-body">
              <h5 class="card-title">FOSS</h5>
              <p class="card-text">
                <img class="rounded float-left" src="../../assets/image/FOSS.png" style="width: 250px; height: 200px;">
                FOSS, standing for Free and Open Source Software is an international movement with the mission of protecting user freedom by giving the
                opportunity to run, to study, to improve a program and to redistribute copies to help each other by making the software free and open source.
                The expectation is the faster evolution of software as users contribute to improve it. Basically the vision is consolidated mind sharing.
              </p>
              </div>
          </div>
         </div>
      </div>
      <br>
      <br>
      <div class="row justify-content-end">
        <div class="col">
          <div class="card text-right w-80 p-3 " style="margin-left: 200px;">
            <div class="card-body">
              <h5 class="card-title">IEEE</h5>
              <p class="card-text">
                <img class="rounded float-right" src="../../assets/image/ieee.jpg" style="width: 250px; height: 200px; padding-left: 20px;">
                An IEEE Student Branch provides opportunities to meet and learn from fellow IEEE Student and Graduate Student Members and engage with professional
                IEEE members locally.An active IEEE Student Branch can be one of the most positive elements of your academic career, offering programs, activities,
                 and professional networking opportunities that build critical skills outside of the classroom.
                IEEE currently has Student Branches at thousands of universities and colleges in hundreds of countries throughout the world.
              </p>
            </div>
          </div>
         </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col ">
          <div class="card w-80 p-3" style="margin-right: 200px;">
            <div class="card-body">
              <h5 class="card-title">INNOVATORS’ CLUB</h5>
              <p class="card-text">
                <img class="rounded float-left" src="../../assets/image/innovation.jpg" style="width: 250px; height: 200px; padding-right: 20px;">
                NSBM Innovators’ Club encourages students to come up with new ideas and knowledge sharing.
                Innovators are currently conducting island-wide IOT(Arduino & Raspberry Pi) workshops for beginners.
                They also conduct in-house web designing and robotics workshops for undergraduates.
              </p>
              </div>
          </div>
         </div>
      </div>
      <br>
      <br>
      <div class="row justify-content-end">
        <div class="col">
          <div class="card text-right w-80 p-3 " style="margin-left: 200px;">
            <div class="card-body">
              <h5 class="card-title">ISACA</h5>
              <p class="card-text">
                <img class="rounded float-right" src="../../assets/image/issac.png" style="width: 250px; height: 200px;">
                ISACA is an international professional association focused on IT governance. On its IRS filings,
                it is known as the Information Systems Audit and Control Association, although ISACA now goes by its acronym only.
              </p>
              </div>
          </div>
         </div>
      </div>
      <br>
      <br>
</div>
</ion-content>
