ion-content{
    --ion-background-color: rgb(243, 243, 243);
}

ion-card{
    --ion-background-color: white;
}

ion-item{
    border: #ccc solid 1px;
    border-radius: 5px;
}

ion-label{
    color: black;
}

.viewCreatedLectureSeriesFormLabel{
    position: relative;
    top: 15px;
    font-size: 15px;
}

.createNewLectureSeriesFormLabel{
    position: relative;
    top: 15px;
    font-size: 15px;
}

.assignNewLectureSessionSlotFormLabel{
    position: relative;
    top: 15px;
    font-size: 15px;
}

.searchLectureSeriesFormLabel{
    position: relative;
    top: 2px;
    font-size: 15px;
}

