ion-content{
    --ion-background-color: rgb(243, 243, 243);
}

ion-card{
    --ion-background-color: white;
}

ion-label{
    color: black;
}

ion-item{
    border: #ccc solid 1px;
    border-radius: 5px;
}

#aboutCardStyle{
    min-height: 250px;
    --ion-background-color: rgb(235, 235, 235);
}

.settingsAddFormLabel{
    position: relative;
    top: 15px;
    font-size: 16px;
}