<ion-header style="height: 70px;">
  <ion-toolbar>

    <!-- This will add a button to show the side menu when the side menu is hidden in small screens -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title style="position: absolute;
                      top: 40%;">Transportation Schedule</ion-title>

    <!-- Header Contents Section -->
    <div style="position: absolute;
                right: 5px;
                top: 8px;">
      <!-- Notification Bell, Unread Notifications Count, Drop Down -->          

      <ion-button fill="clear" color="dark" style="width: 100px;
                                                  height: 45px;
                                                  background-color: white;" (click)="openNotificationPopover($event)">

        <!-- Notification Bell Icon -->
        <div style="height: 42px;
                  width: 42px;"> 
          <ion-icon name="notifications-outline" style="font-size: 35px;
                                                        position: absolute;
                                                        top: 5px;
                                                        left: 0px;"></ion-icon>
        </div>

          <!-- Arrow Icon -->
        <div style="position: absolute;
                    left: 50px;
                    top: 10px;
                    font-size: 26px;">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
      </ion-button>

    </div>

  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Assigned Schedule
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-grid>
              <ion-row>
                <ion-col>

                    <ion-card style="height: 550px;">
                      <ion-card-header>
                        <ion-card-title>
                          NSBM Destination
                        </ion-card-title>
                      </ion-card-header>
                      <ion-card-content>

                        <!-- Loading Spinner -->
                        <ion-spinner name="dots" style="position: absolute;
                                                        left: 50%;
                                                        top: 50%;
                                                        transform: translate(-50%,-50%);
                                                        margin-top: 20px;
                                                        height: 100px;
                                                        width: 100px;" *ngIf="loadingSpinnerTransportSlotsDestination"></ion-spinner>

                        <div style="overflow-y: scroll;
                                    height: 485px;">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Departure</th>
                                <th>Destination</th>
                                <th>Departure Time</th>
                                <th>Approximated Arrival Time</th>
                                <th>Available Days</th>
                                <th>Status</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of publishedTransportationSlotsDestination">
                                <td>{{ item.payload.doc.data().departure }}</td>
                                <td>{{ item.payload.doc.data().destination }}</td>
                                <td>{{ item.payload.doc.data().departureTime }}</td>
                                <td>{{ item.payload.doc.data().approximatedArrivalTime }}</td>
                                <td>
                                  <div style="border: #ccc solid 1px;
                                              border-radius: 5px;
                                              padding: 5px;
                                              height: 70px;
                                              overflow-y: scroll;">
                                    <ion-grid>
                                      <ion-row *ngFor="let itemDay of item.payload.doc.data().availableWeekdays">
                                        <ion-col>
                                          {{ itemDay }}
                                        </ion-col>
                                      </ion-row>
                                      <ion-row *ngFor="let itemEnd of item.payload.doc.data().availableWeekends">
                                        <ion-col>
                                          {{ itemEnd }}
                                        </ion-col>
                                      </ion-row>
                                    </ion-grid>
                                  </div>
                                </td>
                                <td>{{ item.payload.doc.data().status }}</td>
                                <td>
                                  <ion-button (click)="editTransportSlot('nsbmDestination', item)">
                                    <ion-icon name="create-outline"></ion-icon>
                                    Edit
                                  </ion-button>
                                  <ion-button color="danger"  (click)="removeTransportSlot('Confirmation', 'Transportation slot will be removed, do you want to continue?', 'nsbmDestination', item)">
                                    <ion-icon name="trash-outline"></ion-icon>
                                    Remove
                                  </ion-button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                      </ion-card-content>
                    </ion-card>

                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    
                    <ion-card style="height: 550px;">
                      <ion-card-header>
                        <ion-card-title>
                          NSBM Departure
                        </ion-card-title>
                      </ion-card-header>
                      <ion-card-content>

                        <!-- Loading Spinner -->
                        <ion-spinner name="dots" style="position: absolute;
                                                        left: 50%;
                                                        top: 50%;
                                                        transform: translate(-50%, -50%);
                                                        margin-top: 20px;
                                                        height: 100px;
                                                        width: 100px;" *ngIf="loadingSpinnerTransportSlotsDeparture"></ion-spinner>


                        <div style="overflow-y: scroll;
                                    height: 485px;">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Departure</th>
                                <th>Destination</th>
                                <th>Departure Time</th>
                                <th>Approximated Arrival Time</th>
                                <th>Available Days</th>
                                <th>Status</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of publishedTransportationSlotsDeparture">
                                <td>{{ item.payload.doc.data().departure }}</td>
                                <td>{{ item.payload.doc.data().destination }}</td>
                                <td>{{ item.payload.doc.data().departureTime }}</td>
                                <td>{{ item.payload.doc.data().approximatedArrivalTime }}</td>
                                <td>
                                  <div style="border: #ccc solid 1px;
                                              border-radius: 5px;
                                              padding: 5px;
                                              height: 70px;
                                              overflow-y: scroll;">
                                    <ion-grid>   
                                      <ion-row *ngFor="let itemDay of item.payload.doc.data().availableWeekdays">
                                        <ion-col>
                                          {{ itemDay }}
                                        </ion-col>
                                      </ion-row>
                                      <ion-row *ngFor="let itemEnd of item.payload.doc.data().availableWeekends">
                                        <ion-col>
                                          {{ itemEnd }}
                                        </ion-col>
                                      </ion-row>
                                    </ion-grid>
                                  </div>
                                </td>
                                <td>{{ item.payload.doc.data().status }}</td>
                                <td>
                                  <ion-button (click)="editTransportSlot('nsbmDeparture', item)">
                                    <ion-icon name="create-outline"></ion-icon>
                                    Edit
                                  </ion-button>
                                  <ion-button color="danger" (click)="removeTransportSlot('Confirmation', 'Transportation slot will be removed, do you want to continue?', 'nsbmDeparture', item)">
                                    <ion-icon name="trash-outline"></ion-icon>
                                    Remove
                                  </ion-button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                      </ion-card-content>
                    </ion-card>

                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Add New Transportation Slot
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <form [formGroup]="addNewTransportationSlotForm" (ngSubmit)="doAddNewTransportationSlot(addNewTransportationSlotForm.value)">
              <ion-grid>
                <ion-row style="padding-bottom: 5px;">
                  <ion-col>
                    <ion-radio-group (ionChange)="loadFormContent($event)" formControlName="formContent">
                      <div style="border: #ccc 1px solid;
                                      padding: 5px;
                                      border-radius: 5px;">
                        <ion-grid>
                          <ion-row>
                            <ion-col>
                              <ion-item style="border: none;">
                                <ion-label>NSBM Destination</ion-label>
                                <ion-radio slot="start" value="nsbmDestination"></ion-radio>
                              </ion-item>
                            </ion-col>
                            <ion-col>
                              <ion-item style="border: none;">
                                <ion-label>NSBM Departure</ion-label>
                                <ion-radio slot="start" value="nsbmDeparture"></ion-radio>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                     </div>
                    </ion-radio-group>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="defaultFormContent" style="padding-bottom: 20px;">
                  <ion-col style="position: relative;
                                  left: 30%;">
                    <ion-label style="font-size: 16px;">
                      Please Select an Option
                    </ion-label>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="userSelectedFormOptionDeparture" style="padding-top: 10px;">

                  <ion-col>
                    <ion-label class="addSlotFormLabel">
                      Departure
                    </ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-item class="newSlotDepartureDestinationFormItem">
                      <ion-input type="text" inputClear placeholder="Enter Departure" formControlName="departure"></ion-input>
                    </ion-item>
                  </ion-col>

                </ion-row>
                <ion-row *ngIf="userSelectedFormOptionDestination" style="padding-top: 10px;">
                  
                  <ion-col>
                    <ion-label class="addSlotFormLabel">
                      Destination
                    </ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-item class="newSlotDepartureDestinationFormItem">
                      <ion-input type="text" inputClear placeholder="Enter Destination" formControlName="destination"></ion-input>
                    </ion-item>
                  </ion-col>

                </ion-row>
                <ion-row>

                  <ion-col>
                    <ion-label class="addSlotFormLabel">
                      Departure Time
                    </ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-item>
                      <ion-input placeholder="Sample: 9:00 AM" inputClear formControlName="departureTime"></ion-input>
                    </ion-item>
                  </ion-col>

                </ion-row>
                <ion-row>

                  <ion-col>
                    <ion-label class="addSlotFormLabel">
                      Approximate Arrival Time
                    </ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-item>
                      <ion-input placeholder="Sample: 10:00 AM" inputClear formControlName="approArrivalTime"></ion-input>
                    </ion-item>
                  </ion-col>

                </ion-row>
                <ion-row>

                  <ion-col>
                    <ion-label class="addSlotFormLabel">
                      Available Days
                    </ion-label>
                  </ion-col>
                  <ion-col>
                    <div style="border: #ccc solid 1px;
                                border-radius: 5px;">
                      <ion-select multiple="true" placeholder="Select Weekdays" style="min-width: 100%;
                                                                  min-height: 100%;" okText="Continue" cancelText="Dismiss" formControlName="availableWeekdays">
                        <ion-select-option value="Monday">Monday</ion-select-option>
                        <ion-select-option value="Tuesday">Tuesday</ion-select-option>
                        <ion-select-option value="Wednesday">Wednesday</ion-select-option>
                        <ion-select-option value="Thursday">Thursday</ion-select-option>
                        <ion-select-option value="Friday">Friday</ion-select-option>
                        <ion-select-option value="Saturday">Saturday</ion-select-option>
                        <ion-select-option value="Sunday">Sunday</ion-select-option>
                      </ion-select>
                      <ion-select multiple="true" placeholder="Select Weekends" style="min-width: 100%;
                                                                  min-height: 100%;" okText="Continue" cancelText="Dismiss" formControlName="availableWeekends">
                        <ion-select-option value="Saturday">Saturday</ion-select-option>
                        <ion-select-option value="Sunday">Sunday</ion-select-option>
                      </ion-select>
                    </div>
                  </ion-col>

                </ion-row>
                <ion-row>

                  <ion-col>
                    <ion-label class="addSlotFormLabel">
                      Status
                    </ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-item>
                      <ion-select placeholder="Select Status" style="min-width: 100%;" formControlName="status">
                        <ion-select-option *ngFor="let item of publishedTransportSlotStatuses" value="{{ item.payload.doc.data().status }}">{{ item.payload.doc.data().status }}</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>

                </ion-row>
              </ion-grid>
              <ion-button expand="block" type="submit" style="margin-top: 15px;" [disabled]="!addNewTransportationSlotForm.valid">
                Add
              </ion-button>
            </form>

            
            
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col size="6">

      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>
