<ion-header>
  <ion-toolbar>
    <ion-title>Guest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-title>Library</ion-card-title>
    <ion-img src="assets/library.jpg" align="middle"></ion-img>
</ion-card>
<ion-card>
  <ion-card-title>Recreation Centre</ion-card-title>
    <ion-img src="assets/recreation.jpg" align="middle"></ion-img>
</ion-card>
<ion-card>
  <ion-card-title>WiFi</ion-card-title>
    <ion-img src="assets/wifi.jpg"align=" middle"></ion-img>
</ion-card>
<ion-card>
  <ion-card-title>Clubs and Events</ion-card-title>
    <ion-img src="/assets/clubs.jpg" align="middle"></ion-img>
</ion-card>
</ion-content>
