<ion-header style="height: 70px;">
  <ion-toolbar>

    <!-- This will add a button to show the side menu when the side menu is hidden in small screens -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title style="position: absolute;
                      top: 40%;">LECTURE SCHEDULE</ion-title>

    <!-- Header Contents Section -->
    <div style="position: absolute;
                right: 5px;
                top: 8px;">
                
      <!-- Notification Bell, Unread Notifications Count, Drop Down -->          
      <ion-button fill="clear" color="dark" style="width: 100px;
                                                  height: 45px;
                                                  background-color: white;" (click)="openNotificationPopover($event)">

        <!-- Notification Bell Icon -->
        <div style="height: 42px;
                  width: 42px;"> 
          <ion-icon name="notifications-outline" style="font-size: 35px;
                                                        position: absolute;
                                                        top: 5px;
                                                        left: 0px;"></ion-icon>
        </div>

          <!-- Arrow Icon -->
        <div style="position: absolute;
                    left: 50px;
                    top: 10px;
                    font-size: 26px;">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
      </ion-button>

    </div>

  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12">

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Today's Lectures
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <div style="width: 500px;
                        height: 60px;
                        position: absolute;
                        top: -60px;
                        right: 1%;">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-button style="min-width: 100%;" color="medium">
                      <ion-icon name="refresh-outline"></ion-icon>
                      <ion-label style="color: white;
                                        margin-left: 10px;">
                        Generate PDF
                      </ion-label>
                    </ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button style="min-width: 100%;" color="medium">
                      <ion-icon name="cloud-download-outline"></ion-icon>
                      <ion-label style="color: white;
                                        margin-left: 10px;">
                        Download PDF
                      </ion-label>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>

            <div style="margin-top: 10px;
                        width: 100%;
                        height: 600px;
                        overflow-y: scroll;">
              <table class="table">
                <thead>
                  <tr>
                    <th>Batch</th>
                    <th>Module Code</th>
                    <th>Module Title</th>
                    <th>Session Start Time</th>
                    <th>Session End Time</th>
                    <th>Lecture Hall</th>
                    <th>Lecturer</th>
                    <th>Session Status</th>
                    <th>Activity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of publishedLectureSessionCurrentDate">
                    <td>{{ item.payload.doc.data().batch }}</td>
                    <td>{{ item.payload.doc.data().moduleCode }}</td>
                    <td>{{ item.payload.doc.data().moduleTitle }}</td>
                    <td>{{ item.payload.doc.data().startDateTime.toDate() | date: 'h:mm a' }}</td>
                    <td>{{ item.payload.doc.data().endDateTime.toDate() | date: 'h:mm a'}}</td>
                    <td>{{ item.payload.doc.data().lectureHall }}</td>
                    <td>{{ item.payload.doc.data().lecturer }}</td>
                    <td>{{ item.payload.doc.data().status }}</td>
                    <td>
                      <ion-button (click)="editLectureSessionSchedule(item)">
                        EDIT
                      </ion-button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- Loading Spinner -->
            <ion-spinner name="dots" style="position: absolute;
                                            left: 50%;
                                            top: 50%;
                                            transform: translate(-50%, -50%);
                                            height: 100px;
                                            width: 100px;" *ngIf="showLoadingDotsCurrentDateLectureSession"></ion-spinner>

            <div *ngIf="noLectureSessionTodayText" style="position: absolute;
                                                    left: 50%;
                                                    top: 50%;
                                                    transform: translate(-50%,-50%);
                                                    padding: 5px;">
              <ion-item>
                <ion-label style="font-size: 17px;">
                  No Lecture Session Assigned for Today
                </ion-label>
              </ion-item>
            </div>

          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

        <ion-card style="height: 800px;">
          <ion-card-header>
            <ion-card-title>
              All Available Lectures Sessions
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <div style="position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            top: -35px;">
                
              <ion-button fill="clear" (click)="previousMonthLectureSession()" style="margin-top: -12px;">
                <ion-icon name="arrow-back"></ion-icon>
              </ion-button>

              <ion-label style="font-size: 20px;">
                {{ viewingMonthLectureSession }}
              </ion-label>

              <ion-button fill="clear" (click)="nextMonthLectureSession()" style="margin-top: -12px;">
                <ion-icon name="arrow-forward"></ion-icon>
              </ion-button>

            </div>
          
            <div style="overflow-y: scroll;
                        margin-top: 20px;">
                <div style="height: 700px;">
                <calendar [eventSource]="eventSourceLectureSession"
                [calendarMode]="calendarLectureSession.mode"
                [currentDate]="calendarLectureSession.currentDate"
                (onCurrentDateChanged)="onCurrentDateChangedLectureSession($event)"
                (onRangeChanged)="onRangeChangedLectureSession($event)"
                (onEventSelected)="onEventSelectedLectureSession($event)"
                (onTitleChanged)="onViewTitleChangedLectureSession($event)"
                (onTimeSelected)="onTimeSelectedLectureSession($event)"
                startHour="9"
                endHour="17"
                step="30"
                startingDayWeek="1" id="lectureSessionSemesterCalendar">
              
                </calendar>
              </div>
            </div>

            <div *ngIf="noLectureSessionAllText" style="position: absolute;
                                                    left: 50%;
                                                    top: 70%;
                                                    transform: translate(-50%,-30%);
                                                    padding: 5px;">
              <ion-item>
                <ion-label style="font-size: 17px;">
                  No Lecture Session Assigned for this date
                </ion-label>
              </ion-item>
            </div>


            <ion-grid style="width: 140px;
                                  position: absolute;
                                  top: 278px;
                                  right: 1%;
                                  padding: 0;
                                  margin: 0;">
              <ion-row *ngFor="let session of lectureSessionsDocuments">
                <ion-col>
                  <ion-button size="small" title="Lecture Session Read More" color="secondary" (click)="moreDetailsLectureSession($event, session)" style="width: 40px;
                                                                                                                                                              height: 40px;
                                                                                                                                                              border-radius: 5px;
                                                                                                                                                              margin-bottom: -5px;
                                                                                                                                                              margin-left: -10px;">
                    <ion-icon name="document-text" style="font-size: 30px;"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button size="small" title="Edit Lecture Session" color="warning" (click)="editLectureSession(session)" style="width: 40px;
                                                                                                                                        height: 40px;
                                                                                                                                        border-radius: 5px;
                                                                                                                                        margin-bottom: -5px;
                                                                                                                                        margin-left: -12px;">
                    <ion-icon name="create" style="color: white;
                                                  font-size: 30px;"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button size="small" title="Remove Lecture Session" color="danger"
                    (click)="removeLectureSession('Confirmation Required', 'This lecture session will be removed, do you want to continue?', session.id)" style="width: 40px;
                                                                                                                                                        height: 40px;
                                                                                                                                                        border-radius: 5px;
                                                                                                                                                        margin-bottom: -5px;
                                                                                                                                                        margin-left: -14px;">
                    <ion-icon name="trash" style="margin-left: -1px;
                                                  font-size: 30px;"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>

            <!-- Loading Spinner -->
            <ion-spinner name="dots" style="position: absolute;
                                            left: 50%;
                                            top: 50%;
                                            transform: translateX(-50%, -50%);
                                            height: 100px;
                                            width: 100px;" *ngIf="showLoadingDotsAllLectureSession"></ion-spinner>


          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
