<ion-header style="height: 70px;">
  <ion-toolbar>
    <ion-title style="margin-top: 15px;">Semester Calendar</ion-title>

    <!-- Header Contents Section -->
    <div style="position: absolute;
                right: 25px;
                top: 8px;">
      <!-- Notification Bell, Unread Notifications Count, Drop Down -->          
      <div>
        <button ion-button style="width: 100px;
                      height: 45px;
                      background-color: white;">

          <!-- Notification Bell Icon -->
          <div style="height: 42px;
                      width: 42px;
                      border-radius: 5px;
                      position: absolute;
                      top: 3px;
                      left: 10px;"> 
            <ion-icon name="notifications-outline" style="font-size: 35px;
                                                          position: absolute;
                                                          top: 5px;
                                                          left: 0px;"></ion-icon>
          </div>

          <!-- Unread Notifications Count -->
          <div style="position: absolute;
                      top: 5px;
                      left: 40px;">
            <ion-label style="color: red;">
              10
            </ion-label>
          </div>

          <!-- Arrow Icon -->
          <div style="position: absolute;
                      top: 13px;
                      left: 70px;
                      font-size: 26px;">
            <ion-icon name="arrow-down-outline"></ion-icon>
          </div>
          
        </button>
      </div>
    </div>

    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col size="12">

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Assigned Semester Calendars
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-grid>
              <ion-row>
                <ion-col size="5">

                  <form [formGroup]="searchSemesterCalendar" (ngSubmit)="doSearchSemesterCalendar(searchSemesterCalendar.value)">
                    <ion-row>
                      <ion-col>
                        <ion-item>
                          <ion-label style="margin-left: 15px;">Batch</ion-label>
                          <ion-select placeholder="Select Batch" okText="Select" id="batchOption" cancelText="Cancel" formControlName="batch" style="max-width: 100%;">
                            <ion-select-option *ngFor="let item of publishedBatches" value="{{ item.payload.doc.id }}">{{ item.payload.doc.id }}</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <ion-item style="margin-top: 10px;">
                          <ion-label style="margin-left: 15px;">
                            Degree Program
                          </ion-label>
                          <ion-select placeholder="Select Degree Program" okText="Select" cancelText="Cancel" formControlName="degreeProgram" style="max-width: 100% !important;">
                              <ion-select-option value="{{ publishedDegreeProgramDegree }}">{{ publishedDegreeProgramDegree }}, {{ publishedDegreeProgramAwardingBodyUniversity }}</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <ion-item style="margin-top: 10px;">
                          <ion-label style="margin-left: 15px;">
                            Academic Period
                          </ion-label>
                          <ion-grid>
                            <ion-row>
                              <ion-col>
                                <ion-select placeholder="Select Year" okText="Select" cancelText="Cancel" formControlName="academicYearYear" style="max-width: 100% !important;">
                                  <ion-select-option *ngFor="let item of convertToArray(publishedDegreeProgramNoOfYears); let i = index" value="{{ i + 1 }}">{{ i + 1 }}</ion-select-option>
                              </ion-select>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col>
                                <ion-select placeholder="Select Semester" okText="Select" cancelText="Cancel" formControlName="academicYearSemester" style="max-width: 100% !important;">
                                  <ion-select-option *ngFor="let item of convertToArray(publishedDegreeProgramNoOfSemestersAnnaully); let i = index" value="{{ i + 1 }}">{{ i + 1 }}</ion-select-option>
                              </ion-select>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <ion-button expand="block" type="submit" [disabled]="!searchSemesterCalendar.valid">
                          <ion-icon name="search-outline"></ion-icon>
                          <ion-label style="color: white;
                                            margin-left: 10px;">
                            SEARCH
                          </ion-label>
                        </ion-button>          
                      </ion-col>
                    </ion-row>
                  </form>

                  <ion-spinner name="dots" style="position: absolute;
                                              left: 50%;
                                              transform: translateX(-50%);
                                              margin-top: -25px;
                                              height: 100px;
                                              width: 100px;" *ngIf="loadingSpinnerPLS"></ion-spinner>
                  
                  <ion-grid style="margin-top: 50px;
                                  padding-top: 10px;">
                    <ion-row>
                      <ion-col>
                        <ion-button style="min-width: 100%;" color="medium">
                          <ion-icon name="refresh-outline"></ion-icon>
                          <ion-label style="color: white;
                                            margin-left: 10px;">
                            Generate PDF
                          </ion-label>
                        </ion-button>
                      </ion-col>
                      <ion-col>
                        <ion-button style="min-width: 100%;" color="medium">
                          <ion-icon name="cloud-download-outline"></ion-icon>
                          <ion-label style="color: white;
                                            margin-left: 10px;">
                            Download PDF
                          </ion-label>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>


                </ion-col>

                  <!-- Vertical line in the center of the page -->
                  <div style="border-left: rgb(236, 236, 236) solid 2px;
                              height: 105%;
                              position: absolute;
                              left: 41.7%;
                              top: -40px;
                              transform: translateX(-68.3%);">
                  </div>

                <ion-col size="7">

                  <!-- Reset Button -->
                  <ion-button style="width: 90px;
                                    position: absolute;
                                    top: -55px;
                                    right: -1.5%;" color="dark" fill="outline" size="small" (click)="resetSearchAssignedSemesterCalendar()"> 
                    <ion-icon name="refresh-outline"></ion-icon>
                    <ion-label style="color: rgb(59, 59, 59);
                                      margin-left: 5px;">
                      Reset
                    </ion-label>
                  </ion-button>
                  
                  <div style="position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            top: -40px;">
                
                    <ion-button fill="clear" (click)="previousMonthPSCalendar()" style="margin-top: -12px;">
                      <ion-icon name="arrow-back"></ion-icon>
                    </ion-button>

                    <ion-label style="font-size: 20px;">
                      {{ viewingMonthPSCalendar }}
                    </ion-label>

                    <ion-button fill="clear" (click)="nextMonthPSCalendar()" style="margin-top: -12px;">
                      <ion-icon name="arrow-forward"></ion-icon>
                    </ion-button>

                  </div>
                
                  <div style="overflow-y: scroll;">
                      <div style="height: 450px;">
                      <calendar [eventSource]="eventSourcePSCalendar"
                      [calendarMode]="calendarPSCalendar.mode"
                      [currentDate]="calendarPSCalendar.currentDate"
                      (onCurrentDateChanged)="onCurrentDateChangedPSCalendar($event)"
                      (onRangeChanged)="reloadSourcePSCalendar(startTime, endTime)"
                      (onEventSelected)="onEventSelectedPSCalendar($event)"
                      (onTitleChanged)="onViewTitleChangedPSCalendar($event)"
                      (onTimeSelected)="onTimeSelectedPSCalendar($event, searchSemesterCalendar.value)"
                      startHour="9"
                      endHour="17"
                      step="30"
                      startingDayWeek="1" id="publishedSemesterCalendar">
                    
                      </calendar>
                    </div>
                  </div>


                  <ion-grid style="width: 140px;
                                  position: absolute;
                                  top: 282px;
                                  right: 1%;
                                  padding: 0;
                                  margin: 0;">
                    <ion-row *ngFor="let session of numberOfLectureSessionsDocuments">
                      <ion-col>
                        <ion-button size="small" title="Lecture Session Read More" color="secondary" (click)="moreDetailsLectureSession($event, session)" style="width: 40px;
                                                                                                                                                                    height: 40px;
                                                                                                                                                                    border-radius: 5px;
                                                                                                                                                                    margin-bottom: -5px;
                                                                                                                                                                    margin-left: -10px;">
                          <ion-icon name="document-text" style="font-size: 30px;"></ion-icon>
                        </ion-button>
                      </ion-col>
                      <ion-col>
                        <ion-button size="small" title="Edit Lecture Session" color="warning" (click)="editLectureSession(session)" style="width: 40px;
                                                                                                                                              height: 40px;
                                                                                                                                              border-radius: 5px;
                                                                                                                                              margin-bottom: -5px;
                                                                                                                                              margin-left: -12px;">
                          <ion-icon name="create" style="color: white;
                                                        font-size: 30px;"></ion-icon>
                        </ion-button>
                      </ion-col>
                      <ion-col>
                        <ion-button size="small" title="Remove Lecture Session" color="danger"
                          (click)="removeLectureSession('Confirmation', 'This lecture session will be removed, do you want to continue?', session.id)" style="width: 40px;
                                                                                                                                                              height: 40px;
                                                                                                                                                              border-radius: 5px;
                                                                                                                                                              margin-bottom: -5px;
                                                                                                                                                              margin-left: -14px;">
                          <ion-icon name="trash" style="margin-left: -1px;
                                                        font-size: 30px;"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>


              
                </ion-col>
              </ion-row>
            </ion-grid>

            
            
           

          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col size="12">

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Create New Semeter Calendar / Add New Lecture Sessions
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-grid>
              <ion-row>
                <ion-col size="12" size-sm="12" size-lg="6">
                  
                  <ion-card>
                    <ion-card-content>
                      
                      <p style="font-size: 20px;">
                        <b>Semester Information</b>
                      </p>

                      <form [formGroup]="assignNewLectureSlotSC" (ngSubmit)="doPublishLectureSlotSC(assignNewLectureSlotSC.value)">

                        <ion-grid>
                          <ion-row>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-label>
                                Lecture Series - Batch
                              </ion-label>
                            </ion-col>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-item>
                                <ion-label>
                                  Batch
                                </ion-label>
                                <ion-select placeholder="Batch" style="min-width: 100%;" formControlName="batch">
                                  <ion-select-option value="#">16.2</ion-select-option>
                                </ion-select>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-label>
                                Lecture Series - Degree Program
                              </ion-label>
                            </ion-col>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-item>
                                <ion-label>
                                  Degree Program
                                </ion-label>
                                <ion-select placeholder="Degree Program" style="min-width: 100%;" formControlName="degreeProgram">
                                  <ion-select-option value="BSc (Hons) Software Engineering, Plymouth University, UK">BSc (Hons) Software Engineering, Plymouth University, UK</ion-select-option>
                                </ion-select>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-label>
                                Acadamic Year
                              </ion-label>
                            </ion-col>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <div style="border: #ccc solid 1px;
                                          border-radius: 5px;">

                                <ion-row>
                                  <ion-select placeholder="Year" style="min-width: 95%;" formControlName="academicYearYear">
                                    <ion-select-option value="2">Year 2</ion-select-option>
                                  </ion-select>
                                </ion-row>
                                <ion-row>
                                  <ion-select placeholder="Semester" style="min-width: 95%;" formControlName="academicYearSemester">
                                    <ion-select-option value="1">Semester 1</ion-select-option>
                                    <ion-select-option value="2">Semester 2</ion-select-option>
                                  </ion-select>
                                </ion-row>

                              </div>
                            </ion-col>
                          </ion-row>
                          
                        </ion-grid>


                        <p style="font-size: 20px;">
                          <b>Lecture Information</b>
                        </p>

                        <ion-grid>
                          <ion-row>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-label style="margin-left: 5px;">
                                Lecture Series - Module
                              </ion-label>
                            </ion-col>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-item>
                                <ion-label>
                                  Module
                                </ion-label>
                                <ion-select placeholder="Module" style="min-width: 100%;" formControlName="module">
                                  <ion-select-option value="SOFT25SL">SOFT25SL</ion-select-option>
                                  <ion-select-option value="PUSL2003">PUSL2003</ion-select-option>
                                </ion-select>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-label style="margin-left: 5px;">
                                Lecturer
                              </ion-label>
                            </ion-col>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-item>
                                <ion-label>
                                  Lecturer
                                </ion-label>
                                <ion-select placeholder="Lecturer" style="min-width: 100%;" formControlName="lecturer">
                                  <ion-select-option value="sample">Module Firestore</ion-select-option>
                                </ion-select>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-label style="margin-left: 5px;">
                                Lecture Hall
                              </ion-label>
                            </ion-col>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-item>
                                <ion-label>
                                  Lecture Hall
                                </ion-label>
                                <ion-select placeholder="Lecture Hall" style="min-width: 100%;" formControlName="lectureHall">
                                  <ion-select-option value="009">Module FireStore</ion-select-option>
                                </ion-select>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-label style="margin-left: 5px;">
                                Lecture Status
                              </ion-label>
                            </ion-col>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-item>
                                <ion-label>
                                  Lecture Status
                                </ion-label>
                                <ion-select placeholder="Status" style="min-width: 100%;" formControlName="status">
                                  <ion-select-option value="Confirmed">Confirmed</ion-select-option>
                                  <ion-select-option value="Pending">Pending</ion-select-option>
                                  <ion-select-option value="Cancelled">Cancelled</ion-select-option>
                                </ion-select>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                        

                        <br>

                        <p style="font-size: 15px;
                                  margin-left: 30px;">
                          <b>Assign Each Session Manually</b>
                        </p>

                        <ion-grid>
                          <ion-row>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-label style="margin-left: 50px;">
                                Session Date
                              </ion-label>
                            </ion-col>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-item>
                                <ion-datetime value="2020-03-02" formControlName="sessionDateSingle"></ion-datetime>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-label style="margin-left: 50px;">
                                All Day Session
                              </ion-label>
                            </ion-col>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-toggle color="primary"></ion-toggle>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-label style="margin-left: 50px;">
                                Session Start Time
                              </ion-label>
                            </ion-col>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-item>
                                <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="09:00" formControlName="sessionStartTimeSingle"></ion-datetime>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-label style="margin-left: 50px;">
                                Session End Time
                              </ion-label>
                            </ion-col>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-item>
                                <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="12:00" formControlName="sessionEndTimeSingle"></ion-datetime>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                        </ion-grid>

                        <!-- Horizontal line -->
                        <div style="border-bottom: #ccc solid 2px;
                                    width: 95%;
                                    margin-top: 10px;
                                    margin-bottom: 10px;
                                    margin-left: 30px;">
                        </div>

                        <p style="font-size: 15px;
                                  position: absolute;
                                  left: 50%;
                                  transform: translateX(-50%);">
                          OR
                        </p>

                        <p style="font-size: 15px;
                                  margin-top: 40px;
                                  margin-left: 30px;">
                          <b>Assign Same Session on the same day for Multiple Weeks</b>
                        </p>

                        <ion-grid>
                          <ion-row>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-label style="margin-left: 50px;">
                                Session Day
                              </ion-label>
                            </ion-col>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-item>
                                <ion-label>
                                  Day
                                </ion-label>
                                <ion-select placeholder="Select Day" style="min-width: 100%;" formControlName="sessionDayMultiple">
                                  <ion-select-option value="Mon">Monday</ion-select-option>
                                  <ion-select-option value="Tue">Tuesday</ion-select-option>
                                  <ion-select-option value="Wed">Wednesday</ion-select-option>
                                  <ion-select-option value="Thu">Thrusday</ion-select-option>
                                  <ion-select-option value="Fri">Friday</ion-select-option>
                                  <ion-select-option value="Sat">Saturday</ion-select-option>
                                  <ion-select-option value="Sun">Sunday</ion-select-option>
                                </ion-select>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-label style="margin-left: 50px;">
                                Session Start Date
                              </ion-label>
                            </ion-col>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-item>
                                <ion-datetime value="2020-03-02" formControlName="sessionStartDateMultiple"></ion-datetime>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-label style="margin-left: 50px;">
                                All Day Session
                              </ion-label>
                            </ion-col>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-toggle color="primary"></ion-toggle>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-label style="margin-left: 50px;">
                                Session End Date
                              </ion-label>
                            </ion-col>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-item>
                                <ion-datetime value="2020-03-02" formControlName="sessionEndDateMultiple"></ion-datetime>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-label style="margin-left: 50px;">
                                Session Start Time
                              </ion-label>
                            </ion-col>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-item>
                                <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="09:00" formControlName="sessionStartTimeMultiple"></ion-datetime>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-label style="margin-left: 50px;">
                                Session End Time
                              </ion-label>
                            </ion-col>
                            <ion-col size="12" size-sm="12" size-lg="6">
                              <ion-item>
                                <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="12:00" formControlName="sessionEndTimeMultiple"></ion-datetime>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                        
                        <!-- Horizontal line -->
                        <div style="border-bottom: #ccc solid 2px;
                                    width: 100%;
                                    margin-top: 10px;
                                    margin-bottom: 20px;">
                        </div>

                        <ion-button expand="block" type="submit" [disabled]="!assignNewLectureSlotSC.valid">
                          Add Session
                        </ion-button>

                      </form>

                    </ion-card-content>
                  </ion-card>

                </ion-col>
                <ion-col size="12" size-sm="12" size-md="12" size-lg="6">
                  
                  <!-- Reset Button -->
                  <ion-button style="width: 90px;
                                    position: absolute;
                                    top: -55px;
                                    right: -1.5%;" color="dark" fill="outline" size="small" (click)="resetAssignSemesterCalendar()"> 
                    <ion-icon name="refresh-outline"></ion-icon>
                    <ion-label style="color: rgb(59, 59, 59);
                                      margin-left: 5px;">
                      Reset
                    </ion-label>
                  </ion-button>
                  

                  <ion-card>
                    <ion-card-header>
                      <p style="font-size: 20px;">
                        <b>Active Calendar</b>
                      </p>
                    </ion-card-header>
                    <ion-card-content>
                      
                      <div style="position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            top: -50px;">
                
                        <ion-button fill="clear" (click)="previousMonthASCalendar()" style="margin-top: -12px;">
                          <ion-icon name="arrow-back"></ion-icon>
                        </ion-button>

                        <ion-label style="font-size: 20px;">
                          {{ viewingMonthASCalendar }}
                        </ion-label>

                        <ion-button fill="clear" (click)="nextMonthASCalendar()" style="margin-top: -12px;">
                          <ion-icon name="arrow-forward"></ion-icon>
                        </ion-button>

                      </div>

                      <div style="overflow-y: scroll;
                                  margin-top: 20px;">
                        <div style="height: 500px;">
                          <calendar [eventSource]="eventSourceASCalendar"
                          [calendarMode]="calendarASCalendar.mode"
                          [currentDate]="calendarASCalendar.currentDate"
                          (onCurrentDateChanged)="onCurrentDateChangedASCalendar($event)"
                          (onRangeChanged)="reloadSourceASCalendar(startTime, endTime)"
                          (onEventSelected)="onEventSelectedASCalendar($event)"
                          (onTitleChanged)="onViewTitleChangedASCalendar($event)"
                          (onTimeSelected)="onTimeSelectedASCalendar($event)"
                          startHour="9"
                          endHour="17"
                          step="30"
                          startingDayWeek="1" id="activeSemesterCalendar">
                        
                          </calendar>
                        </div>
                      </div>

                    </ion-card-content>
                  </ion-card>

                </ion-col>
              </ion-row>

            </ion-grid>

          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col>

        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Lecture Series
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-grid>
              <ion-row>

                <ion-col>
      
                  <ion-card>
                    <ion-card-header>
                      <p style="font-size: 20px;">
                        <b>Create New Lecture Series</b>
                      </p>
                    </ion-card-header>
                    <ion-card-content>
      
                      
            <ion-grid>
              <ion-row>

                <ion-col>
                  <ion-label>
                    Program
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-select placeholder="Select Program" style="min-width: 100%;">
                      <ion-select-option value="BSc">BSc</ion-select-option>
                      <ion-select-option value="Computing">Foundation</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                
              </ion-row>
              <ion-row>

                <ion-col>
                  <ion-label>
                    Batch
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-select placeholder="Select Batch" style="min-width: 100%;">
                      <ion-select-option value="18.1">18.1</ion-select-option>
                      <ion-select-option value="18.2">18.2</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                
              </ion-row>
              <ion-row>

                <ion-col>
                  <ion-label>
                    Module
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-select placeholder="Select Module" style="min-width: 100%;">
                      <ion-select-option value="SOFT25SL">SOFT255SL</ion-select-option>
                      <ion-select-option value="PUSL2003">PUSL2003</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>

              </ion-row>
              <ion-row>

                <ion-col>
                  <ion-label>
                    Enrollment KEY
                  </ion-label>
                  <ion-button style="position: relative;
                                    left: 100px;">
                    Generate
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-input type="text" value="KEY"></ion-input>
                  </ion-item>
                </ion-col>

              </ion-row>
              <ion-row>

                <ion-col>
                  <ion-checkbox checked="true"></ion-checkbox>
                  <p style="position: absolute;
                            top: 5px;
                            left: 30px;">Send Email to Batch Students (Outlook)</p>
                </ion-col>

              </ion-row>

              <ion-button expand="block">
                ADD
              </ion-button>
              
            </ion-grid>


                    </ion-card-content>
                  </ion-card>
      
      
                </ion-col>
                <ion-col>
      
                  <ion-card>
                    <ion-card-header>
                      <p style="font-size: 20px;">
                        <b>View Created Lecture Series</b>
                      </p>
                    </ion-card-header>
                    <ion-card-content>
                      
                      <ion-grid>
                        <ion-row>
                          
                          <ion-col>
                            <ion-label>
                              Program
                            </ion-label>
                          </ion-col>
                          <ion-col>
                            <ion-item>
                              <ion-select placeholder="Select Program" style="min-width: 100%;">
                                <ion-select-option value="BSc">BSc</ion-select-option>
                                <ion-select-option value="Computing">Foundation</ion-select-option>
                              </ion-select>
                            </ion-item>
                          </ion-col>
                          
                        </ion-row>
                        <ion-row>
          
                          <ion-col>
                            <ion-label>
                              Batch
                            </ion-label>
                          </ion-col>
                          <ion-col>
                            <ion-item>
                              <ion-select placeholder="Select Batch" style="min-width: 100%;">
                                <ion-select-option value="18.1">18.1</ion-select-option>
                                <ion-select-option value="18.2">18.2</ion-select-option>
                              </ion-select>
                            </ion-item>
                          </ion-col>
                          
                        </ion-row>
                        <ion-row>
          
                          <ion-col>
                            <ion-label>
                              Module
                            </ion-label>
                          </ion-col>
                          <ion-col>
                            <ion-item>
                              <ion-select placeholder="Select Module" style="min-width: 100%;">
                                <ion-select-option value="SOFT25SL">SOFT255SL</ion-select-option>
                                <ion-select-option value="PUSL2003">PUSL2003</ion-select-option>
                              </ion-select>
                            </ion-item>
                          </ion-col>
          
                        </ion-row>
                      </ion-grid>
          
                      <ion-button expand="block">
                        Search
                      </ion-button>


                    </ion-card-content>
                  </ion-card>
      
                </ion-col>
      
              </ion-row>

            </ion-grid>


          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>



</ion-content>
