<app-life-at-nsbm></app-life-at-nsbm>
<router-outlet></router-outlet>
<div class=" container pt-5">
    <div class="row">
        <div class="col ">
          <div class="card w-80 p-3" style="margin-right: 200px;">
            <div class="card-body">
              <h5 class="card-title">NSBM BUDDHIST SOCIETY</h5>
              <p class="card-text">
                <img class="rounded float-left" src="../../assets/image/buddist.jpg" style="padding-right: 20px; padding-bottom: 10px;">
                Buddhist society of NSBM is the only association that represents all Buddhist students of the university and conducts all
                 Buddhist events under the guidance of Senior Lecturer,Former Brigadier Sanath Wickrmamsingha and Lecturer Ms.Sulari Fernando.
                It has been 3 years since we’ve started the Buddhist society with the opening of NSBM Green University town. Initially the Buddha
                statue was placed near the entrance of NSBM. Starting from that the society has conducted two Pirith ceremonies celebrating the anniversary
                 of the university.

                Dhamma sermons, blood donation camps, health camps, donation of spectacles, donation of budget packs to low income families and many other CSRs
                celebrating Vesak, Poson, other poya days and all other related occasions. And also the society conducts pirith chantings to welcome every new batch
                to the university.The ultimate objective of all the activities by NSBM Buddhist Society is to witness religious citizens with a better motherland.
              </p>
              </div>
          </div>
         </div>
      </div>
      <br>
      <br>
      <div class="row justify-content-end ">
        <div class="col">
            <div class="card text-right w-80 p-3 " style="margin-left: 200px;">
            <div class="card-body">
              <h5 class="card-title">NSBM HINDU SOCIETY</h5>
              <p class="card-text">
                <img class="rounded float-right" src="../../assets/image/hindu.png" style="padding-left: 20px;">
                Hindu Society Created as a Religious society to provide chances for the Hindu students to celebrate there
                festivals and to conduct their prayers at NSBM currently we have around 100 students joined with the above society.
              </p>
            </div>
          </div>
         </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col ">
          <div class="card w-80 p-3" style="margin-right: 200px;">
            <div class="card-body">
              <h5 class="card-title">NSBM ISLAMIC SOCIETY</h5>
              <p class="card-text">
                <img class="rounded float-left" src="../../assets/image/ISLAM.png">
                NSBM Islamic Society is one of the most vibrant and diverse societies on campus. We are a religious society catering non-exclusively to Muslim students through a wide
                range of activities and events.One of the main aims of the Islamic society is to provide Muslim students with the necessary means to develop spiritually
                and learn more about their religion. We Conduct an Ifthar ceremony every year and programmes to University students to share the culture and knowledge regarding islam.
              </p>
              </div>
          </div>
         </div>
      </div>
      <br>
      <br>
      <div class="row justify-content-end">
        <div class="col">
          <div class="card text-right w-80 p-3 " style="margin-left: 200px;">
            <div class="card-body">
              <h5 class="card-title">NSBM CATHOLIC & CHRISTIAN SOCIETY</h5>
              <p class="card-text">
                <img class="rounded float-right" src="../../assets/image/catholic.jpg">
                “See what great love the Father has lavished on us, that we should be called children of God! And that is what we are! The reason the
                world does not know us is that it did not know him” 1 John 3:1 With the sole intention to serve the catholic and the Christian community
                of NSBM, the club was created and actively operating. Events were organized to enhance the unity and the love among the students and to
                cultivate faith towards god.
              </p>
              </div>
          </div>
         </div>
      </div>
      <br>
      <br>
</div>
