<app-life-at-nsbm></app-life-at-nsbm>
<router-outlet></router-outlet>
<div class=" container pt-5">
    <div class="row">
        <div class="col ">
          <div class="card w-80 p-3" style="margin-right: 200px;">
            <div class="card-body">
              <h5 class="card-title">NSBM MEDIA CLUB</h5>
              <p class="card-text">
                <img class="rounded float-right" src="../../assets/image/media.jpg" style="width: 250px; height: 200px;">
                NSBM Media Club target is to capture news of the many different events and activities happening at NSBM and
                communicate it to the NSBMaudience and interested parties within the shortest time span.
                We have more than 100 students are members with the capacities of Photography, Videography, Sound editing,
                DJ operations, Live streaming, Compering
              </p>
              </div>
          </div>
         </div>
      </div>
      <br>
      <br>
      <div class="row justify-content-end">
        <div class="col">
          <div class="card text-right w-80 p-3 " style="margin-left: 200px;">
            <div class="card-body">
              <h5 class="card-title">NSBM MUSIC CLUB</h5>
              <p class="card-text">
                <img class="rounded float-right" src="../../assets/image/music.jpg" style=" width: 250px; height: 200px; padding-left: 20px; padding-bottom: 10px;">
                Music club of NSBM provides opportunities for students to showcase their talents in broad range of music activities.
                Students of similar passion for music come together and help each other learn and develop their skills in this field.
                Every year, members of the club get the chance to compose NSBM Siyapath Siya Udanaya –Aurudu Theme song, Poson Song etc.
                which promotes NSBM brand name. Members also get the chance to organize and perform in various Musical Shows to showcase
                their talents. Encore 2017, Haritha Iswara 2018 and Musical Show in 2019 to kick start the Opendays of NSBM are few examples
                of Musical events organized by Music Club of NSBM. They also perform in Religious Musical events like Poson Bakthi Gee and provide
                entertainment at other events organized by NSBM. Currently, it is guided by music loving Senior Lecturer – Mr. Dileepa Jayamanne (Master in charge)
                and dynamic Lecturer Ms. Ishani Karunaratna (Mistress in charge)
              </p>
            </div>
          </div>
         </div>
      </div>
      <br>
      <br>
        <div class="row">
            <div class="col ">
              <div class="card w-80 p-3" style="margin-right: 200px;">
                <div class="card-body">
                  <h5 class="card-title">NSBM DRAMA CLUB</h5>
                  <p class="card-text">
                    <img class="rounded float-left" src="../../assets/image/drama.png" style="width: 250px; height: 200px;">
                    SBM Drama Club is one of the most active clubs at NSBM with a wide group of active students reading for different degree programmes. The main intention
                    of the club is to develop aesthetic capacity of the students. NSBM Drama Club is a great platform for students who are willing to reach pinnacle in stage drama acting.
                    Apart from the annual drama events such as Emotion 1, Emotion 2 and Backlash Drama club organizes workshops inviting the talented resource persons in the stage drama field in Sri Lanka.
                  </p>
                  </div>
              </div>
             </div>
          </div>
          <br>
          <br>
            <div class="row justify-content-end">
                <div class="col">
                  <div class="card text-right w-80 p-3 " style="margin-left: 200px;">
                    <div class="card-body">
                      <h5 class="card-title">NSBM DANCING CLUB</h5>
                      <p class="card-text">
                        <img class="rounded float-right" src="../../assets/image/dancing.jpg" style="width: 250px; height: 200px;">
                        Dancing club of NSBM is one of the most prominent and highlighted club in the university. Since dancing is a performing art of human movement many undergraduates tend to join the club. Traditionally before we commend any event here
                         at NSBM are dancing students takes an initiative to enlighten the stage with a mind blowing performance.
                      </p>
                      </div>
                  </div>
                 </div>
              </div>
              <br>
              <br>
                <div class="row">
                    <div class="col ">
                      <div class="card w-80 p-3" style="margin-right: 200px;">
                        <div class="card-body">
                          <h5 class="card-title">NSBM LITERATURE CLUB</h5>
                          <p class="card-text">
                            <img class="rounded float-left" src="../../assets/image/lit.jpg" style="width: 250px; height: 200px;">
                            The literature circle of National School of Business Management was initiated on behalf of all the undergraduates,
                            interested in Sinhala and English literature and to uplift their knowledge on literature.
                          </p>
                          </div>
                      </div>
                     </div>
                  </div>
                  <br>
                  <br>
                    <div class="row justify-content-end">
                        <div class="col">
                          <div class="card text-right w-80 p-3 " style="margin-left: 200px;">
                            <div class="card-body">
                              <h5 class="card-title">NSBM GRAPHICS & PAINTING CLUB</h5>
                              <p class="card-text">
                                <img class="rounded float-right" src="../../assets/image/graphics.png" style="width: 250px; height: 200px;">
                                Enhance your graphics and painting skills and participate in events and develop inspring art work for events that are
                                held through out the university. This is a grat place to develop and improve your skills
                              </p>
                              </div>
                          </div>
                         </div>
                      </div>
                      <br>
                      <br>
                        <div class="row">
                            <div class="col ">
                              <div class="card w-80 p-3" style="margin-right: 200px;">
                                <div class="card-body">
                                  <h5 class="card-title">NSBM EXPLORERS’ CLUB</h5>
                                  <p class="card-text">
                                    <img class="rounded float-left" src="../../assets/image/explorer.png" style="width: 250px; height: 200px;">
                                    Welcome fellow explorers join this club and explore the country with fellow explorers, enjoy and discover new places
                                    that you have never been to. This is great opportunity do not miss it.
                                  </p>
                                  </div>
                              </div>
                             </div>
                          </div>
                          <br>
                          <br>
                            <div class="row justify-content-end">
                                <div class="col">
                                  <div class="card text-right w-80 p-3 " style="margin-left: 200px;">
                                    <div class="card-body">
                                      <h5 class="card-title">NSBM GREEN TASK FORCE</h5>
                                      <p class="card-text">
                                        <img class="rounded float-right" src="../../assets/image/green.png" style="width: 250px; height: 200px;">
                                        The NSBM Green Task Force, is a volunteer group who will stand to protect the greenness of our university, and the neighborhood. Inaddition
                                        we will educate others about the importance of greenness in the future.
                                      </p>
                                      </div>
                                  </div>
                                 </div>
                              </div>
                              <br>
                              <br>
                                <div class="row">
                                    <div class="col ">
                                      <div class="card w-80 p-3" style="margin-right: 200px;">
                                        <div class="card-body">
                                          <h5 class="card-title">NSBM NATURE & WILD LIFE CLUB</h5>
                                          <p class="card-text">
                                            <img class="rounded float-left" src="../../assets/image/wild.jpg" style="width: 250px; height: 200px;">
                                             The NSBM Nature and wild life club is where we try to reserve and help the nature and wild life club
                                             and also educate people on the importance of reserving and protecting the nature and the wild life.
                                          </p>
                                          </div>
                                      </div>
                                     </div>
                                  </div>
                                  <br>
                                  <br>
                                    <div class="row justify-content-end">
                                        <div class="col">
                                          <div class="card text-right w-80 p-3 " style="margin-left: 200px;">
                                            <div class="card-body">
                                              <h5 class="card-title">NSBM ORATORY & DEBATING CLUB</h5>
                                              <p class="card-text">
                                                <img class="rounded float-right" src="../../assets/image/debating.png" style="width: 250px; height: 200px;">
                                                The debating and oratory club NSBM provides opportunities for students to develop the arts of writing, public speaking and debating. The debating and
                                                 oratory club not provide the opportunity for enhance the oratory skills of NSBM students but also has immensely contributed for the betterment of the
                                                 students of debating teams from many schools island wide by organizing All island inter school debate tournament .”Vivada” is the prime project of the society and it
                                                 is the all island inters school debate competition, which is also the largest project organized by a student body.
                                              </p>
                                              </div>
                                          </div>
                                         </div>
                                      </div>
                                      <br>
                                      <br>
                                        <div class="row">
                                            <div class="col ">
                                              <div class="card w-80 p-3" style="margin-right: 200px;">
                                                <div class="card-body">
                                                  <h5 class="card-title">NSBM COMMUNITY SERVICE CLUB</h5>
                                                  <p class="card-text">
                                                    <img class="rounded float-left" src="../../assets/image/service.jpg" style="width: 250px; height: 200px;">
                                                    In the NSBM Community service club we try to help the communitie and provide the needed help and plan wonderful
                                                    events and volunteer in pulic events.
                                                  </p>
                                                  </div>
                                              </div>
                                             </div>
                                          </div>
                                          <br>
                                          <br>
                                            <div class="row justify-content-end">
                                                <div class="col">
                                                  <div class="card text-right w-80 p-3 " style="margin-left: 200px;">
                                                    <div class="card-body">
                                                      <h5 class="card-title">NSBM AEROBICS CLUB</h5>
                                                      <p class="card-text">
                                                        <img class="rounded float-right" src="../../assets/image/aer.jpg" style="width: 250px; height: 200px;">
                                                        In the Aerobics club you get full experience you may be a beginner or have done this before but in this club
                                                        you will lern new routines and all so develop new skills that may be required
                                                      </p>
                                                      </div>
                                                  </div>
                                                 </div>
                                              </div>
                                              <br>
                                              <br>
                                                <div class="row">
                                                    <div class="col ">
                                                      <div class="card w-80 p-3" style="margin-right: 200px;">
                                                        <div class="card-body">
                                                          <h5 class="card-title">NSBM INNOVATORS’ CLUB</h5>
                                                          <p class="card-text">
                                                           <img class="rounded float-left" src="../../assets/image/innovation.jpg" style="width: 250px; height: 200px; padding-right: 20px;">
                                                            This is the place where you get to The Center to Leverage Imaginations to Reality and to help you with that we conduct work shops,
                                                            introduce you to new technologies and more. In thos club what we aim to achive is to help them take there valuabe idea and turn
                                                            it to a product.
                                                          </p>
                                                          </div>
                                                      </div>
                                                     </div>
                                                  </div>
                                                  <br>
                                                  <br>
                                                    <div class="row justify-content-end">
                                                        <div class="col">
                                                          <div class="card text-right w-80 p-3 " style="margin-left: 200px;">
                                                            <div class="card-body">
                                                              <h5 class="card-title">NSBM HEALTH & WELLNESS CLUB (WELLBEING ASSOCIATION)</h5>
                                                              <p class="card-text">
                                                                <img class="rounded float-right" src="../../assets/image/WELL.jpg" style="width: 250px; height: 200px; padding-left: 20px;">
                                                                This Association was initiated at the beginning of the year 2018, with the intention of advocating the mental, physical, social and spiritual
                                                                 wellbeing among the undergraduates of Green University Town, as well as to pave a path towards the betterment of the entire Sri Lankan nation
                                                                in terms of ultimate features of wellbeing.
                                                                The first and only student wellbeing association initiated in Sri Lankan University and expects to promote wellbeing in molding its own path for
                                                                the betterment of younger generation. NSBM Student Wellbeing Association wishes to be the first and foremost in overall aspects.
                                                              </p>
                                                              </div>
                                                          </div>
                                                         </div>
                                                      </div>
                                                      <br>
                                                      <br>
</div>

