<ion-list style="min-width: 350px;">
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="closeMoreDetailsPOStudentsNoticePopover()" color="danger">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label style="font-size: 20px;">
            <b>More Details</b>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>
            <b>Faculty Created By:</b>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            {{ passedNoticeCreatedFaculty }}
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>
            <b>Created On:</b>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            {{ passedNoticeCreatedDateTime.toDate() | date: 'dd-MM-yyy | h:mm a' }}
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>
            <b>Sent To:</b>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label style="font-size: 17px;">
            Module Recipients: 
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="recipientBatchNone">
        <ion-col>
          <ion-label style="margin-left: 30px;">
            None
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="margin-left: 50px;
                        height: 80px;
                        overflow-y: auto;">
          <ion-label *ngFor="let item of passedNoticeRecipientBatch">
            {{ item }} 
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label style="font-size: 17px;
                            margin-top: 15px;">
            Batch Recipients: 
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="recipientModuleNone" >
        <ion-col>
          <ion-label style="margin-left: 30px;">
            None 
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="margin-left: 50px;
                        height: 80px;
                        overflow-y: auto;">
          <ion-label *ngFor="let item of passedNoticeRecipientModule">
            {{ item }}
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>