<app-header></app-header>

<div class="btn-group btn-group-toggle d-flex justify-content-center pt-3" style="background-color: lightgray;" data-toggle="buttons">
    <a routerLink="/Sports clubs" routerLinkActive="active" class="ml-5">
        <label class="btn btn-success w-100">Sports club
        </label>
     </a>
 <a routerLink="/Activity clubs"  class="ml-5">
    <label class="btn btn-success w-100"> Activity Based Club
    </label>
</a>
    <a routerLink="/International clubs" class="ml-5">
         <label class="btn btn-success w-100"> International Clubs
        </label>
    </a>
    <a routerLink="/Academic clubs" class="ml-5">
        <label class="btn btn-success w-100"> Academic Clubs
       </label>
   </a>
   <a routerLink="/Religious clubs" class="ml-5">
    <label class="btn btn-success w-100"> Relgious Clubs
   </label>
</a>
</div>
