
<ion-header style="height: 70px;">
  <ion-toolbar>
    <ion-title style="margin-top: 15px;">Dashboard</ion-title>

    <!-- Header Contents Section -->
    <div style="position: absolute;
                right: 25px;
                top: 8px;">
      <!-- Notification Bell, Unread Notifications Count, Drop Down -->          
      <div>
        <button ion-button style="width: 100px;
                      height: 45px;
                      background-color: white;">

          <!-- Notification Bell Icon -->
          <div style="height: 42px;
                      width: 42px;
                      border-radius: 5px;
                      position: absolute;
                      top: 3px;
                      left: 10px;"> 
            <ion-icon name="notifications-outline" style="font-size: 35px;
                                                          position: absolute;
                                                          top: 5px;
                                                          left: 0px;"></ion-icon>
          </div>

          <!-- Unread Notifications Count -->
          <div style="position: absolute;
                      top: 5px;
                      left: 40px;">
            <ion-label style="color: red;">
              10
            </ion-label>
          </div>
          
          <!--
          <ion-buttons slot="end" menuToggle="noti">
            <ion-menu-button ></ion-menu-button>
          </ion-buttons>
          -->

          <!-- Arrow Icon -->
          <div style="position: absolute;
                      top: 13px;
                      left: 70px;
                      font-size: 26px;">
            <ion-icon name="arrow-down-outline"></ion-icon>
          </div>
          
        </button>
      </div>
    </div>

    
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid>

    <ion-row>
      <ion-col size="9">
        <ion-row>
          <ion-col>

            <ion-card style="height: 430px;">
              <ion-card-header>
                <h4>Today's Lectures</h4>
              </ion-card-header>
              <ion-card-content>

                <ion-card style="height: 180px;
                                width: 250px;
                                margin-top: -10px;">
                  <ion-card-header>
                    SOFT255SL
                  </ion-card-header>
                  <ion-card-content>
                    Software Engineering In Java <br>
                    <b>Lecture Hall: </b> C2 - 009 <br>
                    <b>Start Time: </b> 9:00am <br>
                    <b>End Time: </b> 12:00pm <br>
                    <b>Lecturer:  </b> Sample
                  </ion-card-content>
                </ion-card>

                <ion-card style="height: 170px;
                                width: 250px;
                                position: absolute;
                                margin-top: -5px;">
                  <ion-card-header>
                    SOFT255SL
                  </ion-card-header>
                  <ion-card-content>
                    Software Engineering In Java <br>
                    <b>Lecture Hall: </b> C2 - 009 <br>
                    <b>Start Time: </b> 9:00am <br>
                    <b>End Time: </b> 12:00pm <br>
                    <b>Lecturer:  </b> Sample
                  </ion-card-content>
                </ion-card>

              </ion-card-content>
            </ion-card>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>

            <ion-card style="height: 660px;
                            margin-top: -5px;">
              <ion-card-header>
                <h4>Upcoming Lectures</h4>
              </ion-card-header>
              <ion-card-content>

                <div style="position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            top: -40px;">
                
                  <ion-button fill="clear" (click)="previousMonthLecture()" style="margin-top: -12px;">
                    <ion-icon name="arrow-back"></ion-icon>
                  </ion-button>

                  <ion-label style="font-size: 20px;">
                    {{ viewingMonthLecture }}
                  </ion-label>

                  <ion-button fill="clear" (click)="nextMonthLecture()" style="margin-top: -12px;">
                    <ion-icon name="arrow-forward"></ion-icon>
                  </ion-button>

                </div>
                

                <div style="overflow-y: scroll;
                            margin-top: -10px;">
                  <div style="height: 580px;">
                    <calendar [eventSource]="eventSourceLecture"
                    [calendarMode]="calendarLecture.mode"
                    [currentDate]="calendarLecture.currentDate"
                    (onCurrentDateChanged)="onCurrentDateChangedLecture($event)"
                    (onRangeChanged)="reloadSourceLecture(startTime, endTime)"
                    (onEventSelected)="onEventSelectedLecture($event)"
                    (onTitleChanged)="onViewTitleChangedLecture($event)"
                    (onTimeSelected)="onTimeSelectedLecture($event)"
                    startHour="9"
                    endHour="17"
                    step="30"
                    startingDayWeek="1" id="LectureCalendar">
                  
                    </calendar>
                  </div>
                </div>

              </ion-card-content>
            </ion-card>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>

            <ion-card style="height: 400px;">
              <ion-card-header>
                <h4>Notices from Lecturers</h4>
              </ion-card-header>
              <ion-card-content>

                <ion-card *ngFor="let list of publishedNotices_Lecturers_To_PO">
                  <ion-card-header>
                    {{ list.payload.doc.data().r }}
                  </ion-card-header>
                </ion-card>
              </ion-card-content>
            </ion-card>

          </ion-col>
          <ion-col>

            <ion-card style="height: 400px;">
              <ion-card-header>
                <h4>NEWS</h4>
              </ion-card-header>
            </ion-card>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>

            <ion-card style="margin-top: -5px;
                            height: 570px;">
              <ion-card-header>
                <h4>Events</h4>
              </ion-card-header>
              <ion-card-content>
              
                
                <div style="position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            top: -40px;">
                
                  <ion-button fill="clear" (click)="previousMonthEvent()" style="margin-top: -12px;">
                    <ion-icon name="arrow-back"></ion-icon>
                  </ion-button>

                  <ion-label style="font-size: 20px;">
                    {{ viewingMonthEvent }}
                  </ion-label>

                  <ion-button fill="clear" (click)="nextMonthEvent()" style="margin-top: -12px;">
                    <ion-icon name="arrow-forward"></ion-icon>
                  </ion-button>

                </div>
                

                <div style="overflow-y: scroll;
                            margin-top: -10px;">
                  <div style="height: 500px;">
                    <calendar [eventSource]="eventSourceEvent"
                    [calendarMode]="calendarEvent.mode"
                    [currentDate]="calendarEvent.currentDate"
                    (onCurrentDateChanged)="onCurrentDateChangedEvent($event)"
                    (onRangeChanged)="reloadSourceEvent(startTime, endTime)"
                    (onEventSelected)="onEventSelectedEvent($event)"
                    (onTitleChanged)="onViewTitleChangedEvent($event)"
                    (onTimeSelected)="onTimeSelectedEvent($event)"
                    startHour="9"
                    endHour="17"
                    step="30"
                    startingDayWeek="1" id="EventCalendar">
                  
                    </calendar>
                  </div>
                </div>

              </ion-card-content>
            </ion-card>

          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="3">

        <ion-card style="margin-top: 15px;
                        margin-left: -10px;
                        width: 103%;
                        height: 830px;">
          <ion-card-header>
            <h4>User Activity</h4>
          </ion-card-header>
          <ion-card-content>

            <h3 style="font-size: 20px;">Active Users</h3>
            <div style="border: #ccc solid 1px;
                        border-radius: 5px;
                        width: 100%;
                        height: 100px;">

            </div>


            

          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

  
</ion-content>
