<app-header></app-header>
<body class=" container">
    <div>
        <h2>Facilities</h2>
    </div>
    <br>
    <div class="container">
        <div class="row">
          <div class="col">
            <img class="card-img-top w-100 d-block" src="../../assets/image/lec.jpg">
          </div>
          <div class="col">
              <h3>
                  Lecture Halls
              </h3>
              <br>
            <h5>Modern classrooms, lecture halls and computer laboratories are available for conducting academic programs as well as professional training. These facilities
                 are equipped with modern audio-visual equipment and other related infrastructural facilities on par with international standards.
            </h5>
          </div>
        </div>
        <br>
         <br>
        <div class="row">
            <div class="col">
                <h3>
                    LIBRARY
                </h3>
                <br>
              <h5>NSBM library has a resourceful collection of books in the fields of management, computing and engineering. The library is also equipped with
                 a modern sit-and-read facility and computers that allow students to
                browse internet free of charge. All students of NSBM are eligible to use the library facility and upon obtaining the membership, they could
              </h5>

            </div>
            <div class="col">
                <img class="card-img-top w-100 d-block" src="../../assets/image/library.jpg">
            </div>
          </div>
          <br>
          <br>
          <div class=" row">
          <div class="col">
            <img class="card-img-top w-100 d-block" src="../../assets/image/acc.jpg">
          </div>
          <div class="col">
              <h3>
                  Accomodation
              </h3>
              <br>
            <h5>
              On campus accommodation at NSBM Green University Town is made with international standards giving students comfort, relaxation
              and convenience. Each accommodation unit is equipped with all necessary facilities required for the students and allocation
               will be done on twin sharing basis. Facilities and features: fully furnished rooms with bed, table and chair wardrobe and towel.
            </h5>
          </div>
        </div>
        <br>
         <br>
         <div class="row">
            <div class="col">
                <h3>
                   Recreational facilities
                </h3>
                <br>
              <h5>NSBM recreational building consists of a swimming pool with 6 lanes, a multi-purpose indoor sports building including a basketball court, badminton court and a table tennis court.
                 A gymnasium, outdoor sports ground, cricket nets and an observation deck, pavilion and tiered seating for over 600 average spectators.
              </h5>
            </div>
            <div class="col">
                <img class="card-img-top w-100 d-block" src="../../assets/image/rec.jpg">
            </div>
          </div>
          <br>
          <br>
          <div class=" row">
            <div class="col">
              <img class="card-img-top w-100 d-block" src="../../assets/image/student.jpg">
            </div>
            <div class="col">
                <h3>
                    Student Center
                </h3>
                <br>
              <h5>NSBM student center building (B1) consists of a health center, a multipurpose hall, a career guidance
                office, an audio-visual room, a book shop, counselors’ rooms, club offices and an informal study area allocated for student activities.
              </h5>
            </div>
          </div>
          <br>
           <br>
           <div class="row">
            <div class="col">
                <h3>
                  NSBM Shuttle Service
                </h3>
                <br>
              <h5>
                Apart from public and private transport services, a limited shuttle service is available during the peak hours between
                 High-level Road and NSBM Green University Town. These buses provide transport to students at affordable rates in a pre-defined schedule.
              </h5>
            </div>
            <div class="col">
                <img class="card-img-top w-100 d-block" src="../../assets/image/shuttle.jpg">
            </div>
          </div>
          <br>
          <br>
          <div class=" row">
            <div class="col">
              <img class="card-img-top w-100 d-block" src="../../assets/image/lms.jpg">
            </div>
            <div class="col">
                <h3>
                    LEARNING MANAGEMENT SYSTEM (LMS)
                </h3>
                <br>
              <h5>
                NSBM LMS provides a rich source of subject related content for students.
                Upon registration you will be provided with the required credentials to access the LMS. You are encouraged
                to utilize the resources available in the LMS; Read the module descriptors, lecture material well in advance
                and prepare before attending the lectures to realize your
              </h5>
            </div>
          </div>
          <br>
           <br>
           <div class="row">
            <div class="col">
                <h3>
                  banking Service
                </h3>
                <br>
              <h5>]
                Banking facilities are available for the student to access in the auditorium building for all the financial requirements.
              </h5>
            </div>
            <div class="col">
                <img class="card-img-top w-100 d-block" src="../../assets/image/bank.jpg">
            </div>
          </div>
          <br>
          <br>
          <div class=" row">
            <div class="col">
              <img class="card-img-top w-100 d-block" src="../../assets/image/it.jpg">
            </div>
            <div class="col">
                <h3>
                   IT Labortory
                </h3>
                <br>
              <h5>NSBM provides a comprehensive IT infrastructure in support of teaching and conducting practical sessions. Students are expected to use
                computer labs according to the schedules given and the use of IT resources should comply with the IT policy of NSBM.
              </h5>
            </div>
          </div>
          <br>
          <br>
           <div class="row">
            <div class="col">
                <h3>
                  Auditorium
                </h3>
                <br>
              <h5>
                The state of the art auditorium facility is equipped with modern audio-visual facilities to show case
                 the talents of the NSBM Youth and to be accessed for other academic and nonacademic purposes by the students upon approved request.
              </h5>
             </div>
            <div class="col">
                <img class="card-img-top w-100 d-block" src="../../assets/image/auditorium.jpg">
            </div>
          </div>
          <br>
          <br>
          <div class=" row">
            <div class="col">
              <img class="card-img-top w-100 d-block" src="../../assets/image/extra.jpg">
            </div>
            <div class="col">
                <h3>
                  Co-curricular Activities
                </h3>
                <br>
              <h5>NBSM is a very supportive environment for co-curricular activities of students. They are encouraged to get involved in organizing
                of social activities, charity work, activities pertaining to their own personality development and networking
                 to mold them into skilled degree holders. Student’s involvement in sports, societies and event organizing is always encouraged.
              </h5>
            </div>
          </div>
          <br>
           <br>
    </div>
</body>

